<app-header></app-header>

<section id="content">
<article class="hero">
    <div class="hero-container">
        <p class="hero-title" appFadeInOnScroll>{{ 'ABOUTUS.HERO' | translate }}</p>    
    </div>
</article>
<article id="introduction" class="about-intro">
    <div class="grid-container">
        <div class="grid-item fade-in-start" appFadeInOnScroll>
            <p class="title-mobile">
                <span class="headline">{{'ABOUTUS.TITLE1-1' | translate }} </span><br />
                <span class="headline marcellus-font">{{'ABOUTUS.TITLE1-2' | translate }}</span>
            </p>
            <p class="text long-intro"><b>{{'ABOUTUS.INTRO-TEXT1' | translate }} </b></p>
            <p class="text long-intro">{{'ABOUTUS.INTRO-TEXT2' | translate }} </p>
        </div>
        <span class="grid-tablet-screen">
            <div class="grid-item fade-in-start" appFadeInOnScroll>
                <div class="intro-img"></div>
            </div>
            <div class="grid-item fade-in-start" appFadeInOnScroll>
                <div class="intro-features">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                        <path d="M0 336c0 79.5 64.5 144 144 144l368 0c70.7 0 128-57.3 128-128c0-61.9-44-113.6-102.4-125.4c4.1-10.7 6.4-22.4 6.4-34.6c0-53-43-96-96-96c-19.7 0-38.1 6-53.3 16.2C367 64.2 315.3 32 256 32C167.6 32 96 103.6 96 192c0 2.7 .1 5.4 .2 8.1C40.2 219.8 0 273.2 0 336z"  fill="cuttentColor"/>
                    </svg>
                    <div>
                        <p class="intro-feature-title"> {{'ABOUTUS.INTRO-FEAT1' | translate }} </p>
                        <p class="text">{{'ABOUTUS.INTRO-FEAT-TEXT1' | translate }}</p>
                    </div>
                </div>
    
                <div class="intro-features">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M278.5 215.6L23 471c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l57-57 68 0c49.7 0 97.9-14.4 139-41c11.1-7.2 5.5-23-7.8-23c-5.1 0-9.2-4.1-9.2-9.2c0-4.1 2.7-7.6 6.5-8.8l81-24.3c2.5-.8 4.8-2.1 6.7-4l22.4-22.4c10.1-10.1 2.9-27.3-11.3-27.3l-32.2 0c-5.1 0-9.2-4.1-9.2-9.2c0-4.1 2.7-7.6 6.5-8.8l112-33.6c4-1.2 7.4-3.9 9.3-7.7C506.4 207.6 512 184.1 512 160c0-41-16.3-80.3-45.3-109.3l-5.5-5.5C432.3 16.3 393 0 352 0s-80.3 16.3-109.3 45.3L139 149C91 197 64 262.1 64 330l0 55.3L253.6 195.8c6.2-6.2 16.4-6.2 22.6 0c5.4 5.4 6.1 13.6 2.2 19.8z"  fill="cuttentColor"/>
                    </svg>
                    <div>
                        <p class="intro-feature-title">{{'ABOUTUS.INTRO-FEAT2' | translate }}</p>
                        <p class="text">{{'ABOUTUS.INTRO-FEAT-TEXT2' | translate }}</p>
                    </div>
                </div>
    
                <div class="intro-features">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120l0 136c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2 280 120c0-13.3-10.7-24-24-24s-24 10.7-24 24z" fill="cuttentColor"/>
                    </svg>
                    <div>
                        <p class="intro-feature-title">{{'ABOUTUS.INTRO-FEAT3' | translate }}</p>
                        <p class="text">{{'ABOUTUS.INTRO-FEAT-TEXT3' | translate }}</p>
                    </div>
                </div>
            </div>
        </span>


    </div>
</article>

<!-- features -->
<article id="features" class="features-section">
    <div class="features-container fade-in-start" appFadeInOnScroll>
    <div class="feature">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
            <path d="M112 0C85.5 0 64 21.5 64 48l0 48L16 96c-8.8 0-16 7.2-16 16s7.2 16 16 16l48 0 208 0c8.8 0 16 7.2 16 16s-7.2 16-16 16L64 160l-16 0c-8.8 0-16 7.2-16 16s7.2 16 16 16l16 0 176 0c8.8 0 16 7.2 16 16s-7.2 16-16 16L64 224l-48 0c-8.8 0-16 7.2-16 16s7.2 16 16 16l48 0 144 0c8.8 0 16 7.2 16 16s-7.2 16-16 16L64 288l0 128c0 53 43 96 96 96s96-43 96-96l128 0c0 53 43 96 96 96s96-43 96-96l32 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l0-64 0-32 0-18.7c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7L416 96l0-48c0-26.5-21.5-48-48-48L112 0zM544 237.3l0 18.7-128 0 0-96 50.7 0L544 237.3zM160 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96zm272 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0z" fill="cuttentColor"/>
        </svg>
        <div>
            <p class="feature-title">{{'ABOUTUS.FEAT1' | translate }}</p>
            <p class="text">{{'ABOUTUS.FEAT1-TEXT' | translate }}</p>
        </div>
    </div>
    <div class="feature">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path d="M160 0c17.7 0 32 14.3 32 32l0 35.7c1.6 .2 3.1 .4 4.7 .7c.4 .1 .7 .1 1.1 .2l48 8.8c17.4 3.2 28.9 19.9 25.7 37.2s-19.9 28.9-37.2 25.7l-47.5-8.7c-31.3-4.6-58.9-1.5-78.3 6.2s-27.2 18.3-29 28.1c-2 10.7-.5 16.7 1.2 20.4c1.8 3.9 5.5 8.3 12.8 13.2c16.3 10.7 41.3 17.7 73.7 26.3l2.9 .8c28.6 7.6 63.6 16.8 89.6 33.8c14.2 9.3 27.6 21.9 35.9 39.5c8.5 17.9 10.3 37.9 6.4 59.2c-6.9 38-33.1 63.4-65.6 76.7c-13.7 5.6-28.6 9.2-44.4 11l0 33.4c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-34.9c-.4-.1-.9-.1-1.3-.2l-.2 0s0 0 0 0c-24.4-3.8-64.5-14.3-91.5-26.3c-16.1-7.2-23.4-26.1-16.2-42.2s26.1-23.4 42.2-16.2c20.9 9.3 55.3 18.5 75.2 21.6c31.9 4.7 58.2 2 76-5.3c16.9-6.9 24.6-16.9 26.8-28.9c1.9-10.6 .4-16.7-1.3-20.4c-1.9-4-5.6-8.4-13-13.3c-16.4-10.7-41.5-17.7-74-26.3l-2.8-.7s0 0 0 0C119.4 279.3 84.4 270 58.4 253c-14.2-9.3-27.5-22-35.8-39.6c-8.4-17.9-10.1-37.9-6.1-59.2C23.7 116 52.3 91.2 84.8 78.3c13.3-5.3 27.9-8.9 43.2-11L128 32c0-17.7 14.3-32 32-32z" fill="cuttentColor"/>
        </svg>
        <div>
            <p class="feature-title">{{'ABOUTUS.FEAT2' | translate }}</p>
            <p class="text">{{'ABOUTUS.FEAT2-TEXT' | translate }}</p>
        </div>
    </div>
    <div class="feature">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M256 80C149.9 80 62.4 159.4 49.6 262c9.4-3.8 19.6-6 30.4-6c26.5 0 48 21.5 48 48l0 128c0 26.5-21.5 48-48 48c-44.2 0-80-35.8-80-80l0-16 0-48 0-48C0 146.6 114.6 32 256 32s256 114.6 256 256l0 48 0 48 0 16c0 44.2-35.8 80-80 80c-26.5 0-48-21.5-48-48l0-128c0-26.5 21.5-48 48-48c10.8 0 21 2.1 30.4 6C449.6 159.4 362.1 80 256 80z" fill="cuttentColor"/>
        </svg>
        <div>
            <p class="feature-title">{{'ABOUTUS.FEAT3' | translate }}</p>
            <p class="text">{{'ABOUTUS.FEAT3-TEXT' | translate }}</p>
        </div>
    </div>
    <div class="feature">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M48.5 224L40 224c-13.3 0-24-10.7-24-24L16 72c0-9.7 5.8-18.5 14.8-22.2s19.3-1.7 26.2 5.2L98.6 96.6c87.6-86.5 228.7-86.2 315.8 1c87.5 87.5 87.5 229.3 0 316.8s-229.3 87.5-316.8 0c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0c62.5 62.5 163.8 62.5 226.3 0s62.5-163.8 0-226.3c-62.2-62.2-162.7-62.5-225.3-1L185 183c6.9 6.9 8.9 17.2 5.2 26.2s-12.5 14.8-22.2 14.8L48.5 224z" fill="cuttentColor"/>
        </svg>
        <div>
            <p class="feature-title">{{'ABOUTUS.FEAT4' | translate }}</p>
            <p class="text">{{'ABOUTUS.FEAT4-TEXT' | translate }}</p>
        </div>
    </div>
    </div>
</article>
<article id="Informations" class="info-article">
    <div class="infos-container">
        <div class="info fade-in-start" appFadeInOnScroll>
            <p class="feature-title">01. </p>
            <div>
                <p class="feature-title"> {{'ABOUTUS.INFO1' | translate }}</p>
                <p class="text">{{'ABOUTUS.INFO1-TEXT' | translate }}</p>
            </div>
        </div>
        <div class="info fade-in-start" appFadeInOnScroll>
            <p class="feature-title">02. </p>
            <div>
                <p class="feature-title"> {{'ABOUTUS.INFO2' | translate }}</p>
                <p class="text">{{'ABOUTUS.INFO2-TEXT1' | translate }}</p>
                <p class="text">{{'ABOUTUS.INFO2-TEXT2' | translate }}</p>
            </div>
        </div>
        <div class="info fade-in-start" appFadeInOnScroll>
            <p class="feature-title">03. </p>
            <div>
                <p class="feature-title">{{'ABOUTUS.INFO3' | translate }}</p>
                <p class="text">{{'ABOUTUS.INFO3-TEXT1' | translate }}</p>
                <p class="text">{{'ABOUTUS.INFO3-TEXT2' | translate }}</p>
            </div>
        </div>
    </div>

</article >
<article id="Explore">
    <div class="explore-container">
        <div class="explore-content">
            <p class="headline fade-in-start" appFadeInOnScroll> {{'ABOUTUS.EXPLORE-TITLE1' | translate }}</p>
            <p class="headline marcellus-font fade-in-start" appFadeInOnScroll>  {{'ABOUTUS.EXPLORE-TITLE2' | translate }}</p>
            <p class="text fade-in-start" appFadeInOnScroll> {{'ABOUTUS.EXPLORE-TEXT' | translate }}</p>
            <button routerLink="/explore" class="button-beige fade-in-start animate-btn" appFadeInOnScroll> {{'ABOUTUS.EXPLORE-NOW' | translate }}</button>
        </div>
    </div>
</article>

<article id="location" class="location">
    <div class="location-section">
        <h2 class="fade-in-start" appFadeInOnScroll> {{'ABOUTUS.LOCATION' | translate }}</h2>
        <div class="location-info fade-in-start" appFadeInOnScroll>
            <div class="location-item">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" fill="cuttentColor"/>
            </svg>
            <p class="text">
                
                <strong class="feature-title"> {{'ABOUTUS.STORE' | translate }}</strong><br>
                 {{'ABOUTUS.STORE-LOCATION' | translate }}</p>
            </div>
            <div class="location-item">   
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120l0 136c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2 280 120c0-13.3-10.7-24-24-24s-24 10.7-24 24z" fill="cuttentColor"/>
                </svg> 
            <p class="text">
                <strong class="feature-title"> {{'ABOUTUS.HOURS' | translate }}</strong><br>
                {{'ABOUTUS.HOURS-TEXT1' | translate }}<br />
                {{'ABOUTUS.HOURS-TEXT2' | translate }}<br />
                {{'ABOUTUS.HOURS-TEXT3' | translate }}
            </p>
            </div> 
        </div>
        <iframe appFadeInOnScroll class="fade-in-start"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13310.430341179054!2d35.768024083129945!3d34.62664383630835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151f6352b2e2647f%3A0xd2eb1c9b9790a62d!2sQalamoun%2C%20North%20Governorate%2C%20Lebanon!5e0!3m2!1sen!2sus!4v1651001002013!5m2!1sen!2sus" 
        allowfullscreen=""
            loading="lazy">
        </iframe>
    </div>
</article>
</section>
<app-footer></app-footer>