section{
    margin: 0 0;
}
.hero{
    display: flex;
    align-items: center; /* Centers items vertically */
    height: 30vh; 
    width: 100%;
    /* height: 30rem; */
    background: url('https://old-souqs.sirv.com/Banners/DSC00272.jpg') lightgray 50% / cover no-repeat;
}
.hero-container{
    margin:0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,0.8),rgba(0,0,0,0)); */
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container span{
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
}
.hero-title{

    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

/* most buttons style */
.button-beige{
    background-color: var(--font-color-primary);
    border: 0px;
    padding: 0.75rem 1.25rem;
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    margin: 2rem 0;
    border: 2px solid transparent;
    cursor: pointer;
}

.button-beige:hover{
    background-color: transparent;
    color: var(--font-color-primary);
    border: 2px solid var(--font-color-primary);
}


/* section 1 : grid style */

.about-intro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    padding: 10px;
    width: 80vw;
}
.grid-tablet-screen{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.grid-item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* headline and paragraphs */
.headline{
    color: var(--font-color-secondary);
    margin:1.5rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -0.045rem;
}

.marcellus-font{
    font-family: var(--font-custom-stack-other);
    font-weight: 400;
    margin-top: -1rem;
    margin-bottom: 2rem;
}
.text{
    color: var(--font-color-paragraph);
    margin:0.75rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
}
.intro-img{
    width: 100%;
    height:32rem;
    background: url('https://old-souqs.sirv.com/Banners/ban2.png') lightgray 50% / cover no-repeat;
}
.intro-features{
    width: 100%;
    display: flex;
    gap: 1rem;

}

.intro-features svg , .intro-features path {
    width: 3rem;
    height:3rem;
    fill: var(--font-color-primary);
    margin-top: 0.3rem;
}
.intro-feature-title{
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.045rem;
}

/* features style  */
.features-section{
    width: 100%;
    padding: 5rem 0;
    background: var(--extra-color-body);
    
}
.features-container{
    display: flex;
    width: 100%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.feature{
    display: flex;
    align-items:center;
    justify-content: start;
    gap: 1rem;
    width: 18.8rem;
    padding:0.5rem 1rem;
    border: 1px solid var(--font-color-paragraph);
}
.feature-title{
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: -0.5rem;
    letter-spacing: -0.045rem;
}
.feature svg, .feature path{
    width: 2rem;
    height: 2rem;
    fill: var(--font-color-primary);
}


/* informations style */
.info-article{
    display: flex;
    align-items: center;
    justify-content: center;
}
.infos-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* align-items: center; */
    /* justify-content: center; */
    width: 80%;
    margin: 5rem 0;
    gap: 1rem;
}
.info{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

/* explore section */
.explore-container{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    background: url(../../assets/home-hero2.jpg) lightgray 50% / cover no-repeat;
    padding: 6rem 0;

}
.explore-content{
    background: var(--background-color-body);
    width: 40%;
    padding: 3rem;
    margin-right: 3rem;
}

/* location style */
.location{
    width: 100%;
    padding: 4rem 0;
    background: var(--extra-color-body);
}
.location-section {
    max-width: 65rem;
    margin: 50px auto;
    padding: 20px;
}
.location-section h2 {
    color: var(--font-color-secondary);
    font-size: 2.5rem;
    font-family: var(--font-custom-stack-paragraph);
    font-style: normal;
    font-weight: 700;
    line-height: 1.7rem;
}
.address, .hours {
    color: var(--font-color-paragraph);
    font-size: 1rem;
    font-family: var(--font-custom-stack-paragraph);
    font-style: normal;
    font-weight: 700;
    line-height: 1.7rem;
}
.location-info svg, .location-info path{
    width: 1.2rem;
    height: 1.2rem;
    fill: var(--font-color-primary);
    margin-right: 1rem;
    margin-top: 0.75rem;
}
iframe {
    width: 100%;
    height: 300px;
    border: none;
}
.location-info{
    display: flex;
    align-items: start;
    justify-content: left;
    gap: 10rem;
    margin-bottom: 1rem;
}
.location-item{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}



/* Responsive Design */
@media (min-width: 769px) and (max-width: 1024px) {
    .hero {
        height: 25vh;
        text-align: center;
    }

    .hero-container {
        margin: 0 2rem;
    }

    .hero-title {
        font-size: 1.8rem;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .explore-content {
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 451px) and (max-width: 768px) {

    .hero{
        height: 25vh; 
    }
    .hero-title{
       font-size: 1.5rem;
    } 
    /* most buttons style */
    .button-beige{
        font-size: 0.925rem;
        margin: 0.5rem 0;   
    }
    
    /* section 1 : grid style */
    
    .about-intro{
        margin: 3rem 0;
    }
    .grid-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        width: 95vw;
    }
    
    .grid-item {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .grid-tablet-screen{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }   
    /* headline and paragraphs */
    .headline{
        margin:0.5rem 0;
        font-size: 1.6rem;
        line-height: 1.7rem;
    } 
    .marcellus-font{
       margin-top: 0rem;
        margin-bottom: 1rem;
    }
    .text{
        margin:0.5rem 0 0 0;
        font-size: 0.925rem;
    }
    .intro-img{
        width: 40vw;
        height:30rem;
    }
    .intro-features{
        width: 44vw;
       
    }
    
    .intro-features svg , .intro-features path {
        width: 2.5rem;
        height:2.5rem;
        margin-top: 0.5rem;
    }
    .intro-feature-title{
        font-size: 1rem;
    }
    
    /* features style  */
    .features-section{
        padding: 4rem 0;        
    }
    
    .feature{    
        width: 18.4rem;
    }
    .feature-title{
        font-size: 1rem;        
        margin-bottom: -0.5rem;
    } 
    .feature svg, .feature path{
        width: 1.5rem;
        height: 1.5rem;
    }
    
    
    /* informations style */
    .info-article{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2rem;
    }
    .infos-container{
        display: flex;
        align-items: flex-start;
        justify-content: left;
        flex-wrap: wrap;
        width: 89vw;
        margin: 5rem 0;
        gap: 1rem;
    }
    .info{
        width: 40vw;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 0.5rem;
    }
    
    /* explore section */
    .explore-container{
        justify-content: center;
       padding: 3rem 0;
    
    }
    .explore-content{
        width: 80%;
        padding: 2rem;
        margin-right: 0rem;
    }
    
    /* location style */
    .location{
        width: 100%;
        padding: 1rem 0;
    }
    .location-section {
        max-width:95vw;
        margin: 10px auto;
        padding: 0 3rem;
    }
    .location-section h2 {
        font-size: 1.6rem;
    }
    .address, .hours {
        font-size: 0.95rem;
    }
    .location-info svg, .location-info path{
        margin-top: 0.5rem;
    }
    iframe {
        height: 250px;
    }
    .location-info{        
        gap: 3rem;
    }
    
}

@media (min-width: 0px) and (max-width: 450px) {
    .hero{
       height: 22vh; 
        /* width: 100%; */
    }
  
    .hero-title{
        font-size: 1.2rem;
    }
   /* section 1 : grid style */
    
    .about-intro{
        margin: 1rem 0;
    }
    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95vw;
    }
    .grid-tablet-screen{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .grid-item {
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    
    /* headline and paragraphs */
    .headline{
        margin:-0.5rem 0;
        font-size: 1.25rem;
        line-height: 1rem;
    }
    .title-mobile{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    
    .marcellus-font{
         margin-top: 0.5rem;
        margin-bottom: 0rem;
    }
    .text{
        margin:0.5rem 0;
        font-size: 0.85rem;
        line-height: 1.5rem;
    }
    .intro-img{
        width: 92vw;
    }
   
    
    .intro-features svg , .intro-features path {
        width: 2rem;
        height:2rem;
        }
    .intro-feature-title{
        font-size: 1rem;
    }
    
    /* features style  */
    .features-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 3rem 0;
    }

    .features-container{
        display: flex;
        width: 90%;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .feature{
        width: 19rem;
        padding:0.5rem 1rem;
    }
    .feature-title{
       font-size: 1rem;        
        margin-bottom: -0.5rem;
    }
    .feature svg, .feature path{
        width: 1.5rem;
        height: 1.5rem;
    }
    /* most buttons style */
    .button-beige{
        padding: 0.75rem 1.25rem;
        font-size: 0.85rem;
        margin: 0.5rem 0;
    }
        
    /* informations style */
    .infos-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 3rem 1rem;
        gap: 0.5rem;
    }
    
    /* explore section */
    .explore-container{
       
        justify-content: center;
        padding: 3rem 0;
    }
    .explore-content{
        width: 80%;
        padding: 1rem;
        margin-right: 0;
    }
    
    /* location style */
    .location{
        padding: 2rem 0;
    }
    .location-section {
        max-width: 95vw;
        margin: 0 auto;
        padding: 20px;
    }
    .location-section h2 {
        font-size: 1.25rem;
    }
    .address, .hours {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .location-info svg, .location-info path{
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
        margin-top: 0.75rem;
    }
    iframe {
        height: 13rem;
    }
    .location-info{
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    
}