section{
    margin: 0 0;
}
article {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero{
    display: flex;
    align-items: center; /* Centers items vertically */
    height: 30vh; 
    width: 100%;
    /* height: 30rem; */
    background: url('https://old-souqs.sirv.com/Banners/DSC00272.jpg') lightgray 50% / cover no-repeat;
}
.hero-container{
    margin:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container span{
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
}
.hero-title{
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

/* most buttons style */
.button-beige{
    width: 100%;
    background-color: var(--font-color-primary);
    border: 0px;
    padding: 0.75rem 1.25rem;
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    margin: 2rem 0;
    border: 2px solid transparent;
    cursor: pointer;
}

.button-beige:hover{
    background-color: transparent;
    color: var(--font-color-primary);
    border: 2px solid var(--font-color-primary);
}
.no-prod-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.headline{
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2rem;
}
.text{
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
}
.text a{
    cursor: pointer;
    color: var(--font-color-primary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
}
.cart-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
}


  table {
    width: 80vw;
    border-collapse: collapse;
    background:var(--extra-color-body);
  }
  
  th, td {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    /* border-right: 1px solid #ddd; */
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
  }
  
  th {
    font-size: 1.1rem;
    font-weight: 700;
  }
  
  .product-info {
    display: flex;
    align-items: center;
  }
  .product-info span:hover{
    cursor: pointer;
    color: var(--font-color-primary);
  }
  
  .product-info img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    margin-right: 15px;
  }
  
  .quantity-delete-container{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}
.counter{
    background: var(--background-color-body);
    margin: 0.25rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1px solid var(--font-color-paragraph);
}
.counter button{
    cursor: pointer;
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    width: 1.7rem;
    height: 1.7rem;
    border: 0;
    /* border: 0.1px solid var(--font-color-paragraph); */
    background: none;
}
.counter span{
    text-align: center;
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    width: 1.7rem;
    height: 1.59rem;
    border: 0;
    border-left: 0.1px solid var(--font-color-paragraph);
    border-right: 0.1px solid var(--font-color-paragraph);
    background: none;
}
.delete-container{
    width: 1.7rem;
    height: 1.55rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.delete-container svg, .delete-container path{
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    fill: var(--font-color-paragraph);
}
.delete-container svg:hover, .delete-container path:hover{
    fill: var(--font-color-primary);
}




.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
    padding: 10px;
    width: 80vw;
}

.grid-item {
    background: var(--extra-color-body);
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
}

.title{
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
}.subtitle{
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem;
}
.instructions{
    border: 0;
    margin-bottom: 1rem;
    width: 100%;
    height: 13rem;
}

.line{
    width: 100%;
    margin: 1rem 0;
    border-bottom: 0.25px solid var(--font-color-paragraph);
  }

.amount-details{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}  

#dropdown {
    width: 100%;
    padding: 0.75rem;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.045rem;
    background: none;
    border: 0.25px solid var(--font-color-paragraph);
    margin:1rem 0;
  }
  #dropdown option{
    background: var(--extra-color-body);
  }
  
  .selected {
    background: var(--background-color-body);
    color: var(--font-color-primary);
  }

  .PostalCode{
    width: 89%;
    padding: 1rem;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.045rem;
    border: 0;
    margin:1rem 0;
  }

  .calculate-shipping{
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.045rem;
    margin:1rem 0;
    color: var(--font-color-primary);
    cursor: pointer;
    text-decoration: underline;
  }
  .calculate-shipping:hover{
    color: var(--font-color-secondary);
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    

  table {
    width: 90vw;
  }
  
.grid-container {
  width: 90vw;
}

  }
@media (min-width: 451px) and (max-width: 768px) {

    .hero{
        height: 25vh; 
    }
  
    .hero-title{
        font-size: 1.5rem;
    }
    
    /* most buttons style */
    .button-beige{
        padding: 0.5rem 1rem;
        font-size: 0.925rem;
        margin: 1rem 0;
    }
  
    .headline{
        font-size: 1.6rem;
    }
    .text{
        font-size: 0.925rem;
    }
    .text a{
        font-size: 0.925rem;
    }
    .cart-container{
        margin: 3rem 0;
        width: 100%;
    } 
  
      table {
        width: 90vw;
      }
      thead{
        display: none;
      }
      tbody{
        display: block;
      }
      tr{
        width: 90vw;
      }
      
      td{
        width: 90vw;
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        border-bottom: 1px solid #ddd;
      }
      
      th {
        font-size: 1rem;
      }      
    
      .product-info img {
        width: 6rem;
        height: 6rem;
      }
      
      .quantity-delete-container{
        justify-content: flex-start;
    }
   
    .counter button{
        font-size: 0.925rem;
        width: 1.5rem;
        height: 1.5rem;
    }
    .counter span{
        font-size: 0.925rem;
        width: 1.5rem;
        height: 1.38rem;
    }
    .delete-container{
        width: 1.7rem;
        height: 1.55rem;
    }
    .delete-container svg, .delete-container path{
        width: 0.925rem;
        height: 0.925rem;
    }
    
    
    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        width: 90vw;
    }
    
    .grid-item {
        padding: 20px;
        width: 85vw;
    }
    
    .title{
        font-size: 1rem;
    }.subtitle{
        font-size: 0.925rem;
     }
    .instructions{
        border: 0;
        margin-bottom: 1rem;
        width: 100%;
        height: 7rem;
    }
 
    #dropdown {
        font-size: 0.925rem;
      }

      .PostalCode{
        width: 95%;
        font-size: 0.925rem;
      }
    
      .calculate-shipping{
        font-size: 0.925rem;
     }

}

@media (min-width: 0px) and (max-width: 450px) {
    
    .hero{
        height: 22vh; 
    }
  
    .hero-title{
        font-size: 1.4rem;
    }
    
    /* most buttons style */
    .button-beige{
        padding: 0.5rem 1rem;
        font-size: 0.85rem;
        margin: 1rem 0;
    }
  
    .headline{
        font-size: 1.25rem;
    }
    .text{
        font-size: 0.85rem;
    }
    .text a{
        font-size: 0.85rem;
    }
    .cart-container{
        margin: 2rem 0;
        width: 100%;
    } 
  
      table {
        width: 90vw;
      }
      thead{
        display: none;
      }
      
      th {
        font-size: 0.85rem;
        display: block;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        padding: 10px;
      }
      td{
        display: flex;
        font-size: 0.85rem;
        justify-content: flex-start;
        padding: 10px;
        border-bottom: 1px solid #ddd;
      }
   
      .product-info img {
        width: 6rem;
        height: 6rem;
      }
      
      .quantity-delete-container{
        justify-content: flex-start;
    }
   
    .counter button{
        font-size: 0.85rem;
        width: 1.5rem;
        height: 1.5rem;
    }
    .counter span{
        font-size: 0.85rem;
        width: 1.5rem;
        height: 1.38rem;
    }
    .delete-container{
        width: 1.7rem;
        height: 1.55rem;
    }
    .delete-container svg, .delete-container path{
        width: 0.925rem;
        height: 0.925rem;
    }
    
    
    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    
    .grid-item {
        padding: 5vw;
        width: 80vw;
    }
    
    .title{
        font-size: 0.9rem;
    }.subtitle{
        font-size: 0.85rem;
     }
    .instructions{
        border: 0;
        margin-bottom: 1rem;
        width: 100%;
        height: 7rem;
    }
 
    #dropdown {
        font-size: 0.85rem;
      }

      .PostalCode{
        width: 88%;
        font-size: 0.85rem;
      }
    
      .calculate-shipping{
        font-size: 0.85rem;
     }
}