<div class="header">
    <div class="announcement">
        <div class="announcement-offer">
            <span>Get 20% off your first order: 20%OFF</span>
        </div>
        <div class="announcement-slider">
            <div id="arrow-left">
                <svg style="transform: rotate(180deg);" fill="white" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                    <path d="M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z" />
                </svg>
            </div>
            <span>Hello.</span>
            <div id="arrow-right">
                <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="24" height="24">
                    <path d="M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z" />
                </svg>
            </div>
        </div>
        <div class="announcement-contact">
            <span>{{ 'HEADER.PHONE-NUMBER' | translate }} </span>
        </div>
    </div>
    <div class="navigation">

    </div>
</div>