<div id="header" class="header">
    <section class="header-kaj">
        <div class="header-area">
            <div class="header-main-area">
                <div class="container-fluid">
                    <div class="header-main">
                        <div class="header-element logo-menu-wrap">
                            <div class="logo-menu-block"><a href="https://salford-co-antique.myshopify.com"
                                    class="theme-header-logo">
                                    <img src="//salford-co-antique.myshopify.com/cdn/shop/files/logo.png?v=1712168924&amp;width=500"
                                        srcset="//salford-co-antique.myshopify.com/cdn/shop/files/logo.png?v=1712168924&amp;width=352 352w, //salford-co-antique.myshopify.com/cdn/shop/files/logo.png?v=1712168924&amp;width=364 364w"
                                        width="364" height="98" loading="lazy" class="img-fluid">
                                </a>

                                <div class="megamenu-block">
                                    <nav class="main-navigation">
                                        <div class="megamenu-content">
                                            <ul class="main-menu">





                                                <li class="menu-link">
                                                    <a href="/" class="link-title active" aria-current="page">
                                                        <span class="sp-link-title">Home</span>
                                                    </a>
                                                    <a href="/" class="link-title link-title-lg">
                                                        <span class="sp-link-title">Home</span>
                                                    </a>
                                                </li>






                                                <li class="menu-link">
                                                    <a href="/pages/about-us" class="link-title ">
                                                        <span class="sp-link-title">About Us</span>
                                                    </a>
                                                    <a href="/pages/about-us" class="link-title link-title-lg">
                                                        <span class="sp-link-title">About Us</span>
                                                    </a>
                                                </li>






                                                <li class="menu-link">
                                                    <a href="/collections/all" class="link-title ">
                                                        <span class="sp-link-title">Shop</span>
                                                    </a>
                                                    <a href="/collections/all" class="link-title link-title-lg">
                                                        <span class="sp-link-title">Shop</span>
                                                    </a>
                                                </li>






                                                <li class="menu-link">
                                                    <a href="/blogs/news" class="link-title ">
                                                        <span class="sp-link-title">News</span>
                                                    </a>
                                                    <a href="/blogs/news" class="link-title link-title-lg">
                                                        <span class="sp-link-title">News</span>
                                                    </a>
                                                </li>






                                                <li class="menu-link parant">
                                                    <a href="#" class="link-title ">
                                                        <span class="sp-link-title">Pages</span>
                                                        <i class="ri-arrow-down-s-line"></i>
                                                    </a>
                                                    <a href="#main-collapse-pages" data-bs-toggle="collapse"
                                                        class="link-title link-title-lg">
                                                        <span class="sp-link-title">Pages</span>
                                                        <i class="ri-arrow-down-s-line"></i>
                                                    </a>
                                                    <ul class="dropdown-submenu collapse" id="main-collapse-pages">
                                                        <div class="container p-0 ul">





                                                            <li class="submenu-li parant">
                                                                <a href="/pages/faqs" class="sublink-title">
                                                                    <span class="sp-link-title">FAQs</span>
                                                                </a>
                                                            </li>







                                                            <li class="submenu-li parant">
                                                                <a href="/pages/wishlist" class="sublink-title">
                                                                    <span class="sp-link-title">Wishlist</span>
                                                                </a>
                                                            </li>



                                                        </div>
                                                    </ul>
                                                </li>






                                                <li class="menu-link">
                                                    <a href="/pages/contact" class="link-title ">
                                                        <span class="sp-link-title">Contact</span>
                                                    </a>
                                                    <a href="/pages/contact" class="link-title link-title-lg">
                                                        <span class="sp-link-title">Contact</span>
                                                    </a>
                                                </li>



                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="header-element right-block">
                            <div class="right-block-area">
                                <div class="search-rap">
                                    <div class="crap-search">
                                        <form action="/search" method="get" class="search-bar" role="search">
                                            <div class="form-search">
                                                <input type="hidden" name="type" value="product">
                                                <input type="hidden" name="options[unavailable_products]" value="show">
                                                <input type="hidden" name="options[prefix]" value="last">
                                                <input type="search" name="q" value="" placeholder="Find our seach"
                                                    id="search" class="input-text" aria-label="Search" required>
                                                <button class="search-btn" type="submit"><i
                                                        class="feather-search"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <ul class="shop-element">
                                    <li class="side-wrap toggle-wrap">
                                        <button class="navbar-toggle" type="button">
                                            <span class="menu-icon">
                                                <i class="feather-menu"></i>
                                            </span>
                                        </button>
                                    </li>
                                    <li class="side-wrap search-wrap">
                                        <a class="search-btn header-icon" data-bs-toggle="modal" href="#seachmodal">
                                            <span class="icon"><i class="feather-search"></i></span>
                                        </a>
                                    </li>
                                    <li class="side-wrap user-wrap">
                                        <div class="user-warp">

                                            <a class="header-icon" href="/account/login">
                                                <span class="icon"><i class="feather-user"></i></span>
                                            </a>

                                        </div>
                                    </li>
                                    <li class="side-wrap wishlist-wrap">
                                        <a class="header-icon" href="/pages/wishlist" title="Wishlist">
                                            <span class="icon"><i class="feather-heart"></i></span>
                                            <span class="wishlist-counter count"></span>
                                        </a>
                                    </li>
                                    <li class="side-wrap cart-wrap">
                                        <div class="shopping-cart">
                                            <a class="cart-count header-icon" href="javascript:void(0);">
                                                <span class="icon"><i class="feather-shopping-bag"></i></span>

                                                <span class="cart-title">My cart</span>

                                                <span id="cart-total" class="bigcounter count">0</span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu">
            <div class="main-menu-area">
                <nav class="main-navigation">
                    <div class="box-header">
                        <button class="close-box" type="button"><i class="ri-close-line"></i></button>
                    </div>
                    <div class="megamenu-content">
                        <ul class="main-menu">

                            <li class="menu-link">
                                <a href="/" class="link-title active" aria-current="page">
                                    <span class="sp-link-title">Home</span>
                                </a>
                                <a href="/" class="link-title link-title-lg">
                                    <span class="sp-link-title">Home</span>
                                </a>
                            </li>


                            <li class="menu-link">
                                <a href="/pages/about-us" class="link-title ">
                                    <span class="sp-link-title">About Us</span>
                                </a>
                                <a href="/pages/about-us" class="link-title link-title-lg">
                                    <span class="sp-link-title">About Us</span>
                                </a>
                            </li>


                            <li class="menu-link">
                                <a href="/collections/all" class="link-title ">
                                    <span class="sp-link-title">Shop</span>
                                </a>
                                <a href="/collections/all" class="link-title link-title-lg">
                                    <span class="sp-link-title">Shop</span>
                                </a>
                            </li>


                            <li class="menu-link">
                                <a href="/blogs/news" class="link-title ">
                                    <span class="sp-link-title">News</span>
                                </a>
                                <a href="/blogs/news" class="link-title link-title-lg">
                                    <span class="sp-link-title">News</span>
                                </a>
                            </li>


                            <li class="menu-link parant">
                                <a href="#" class="link-title ">
                                    <span class="sp-link-title">Pages</span>
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <a href="#main-collapse-pages" data-bs-toggle="collapse"
                                    class="link-title link-title-lg">
                                    <span class="sp-link-title">Pages</span>
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <ul class="dropdown-submenu collapse" id="main-collapse-pages">
                                    <div class="container p-0 ul">





                                        <li class="submenu-li parant">
                                            <a href="/pages/faqs" class="sublink-title">
                                                <span class="sp-link-title">FAQs</span>
                                            </a>
                                        </li>







                                        <li class="submenu-li parant">
                                            <a href="/pages/wishlist" class="sublink-title">
                                                <span class="sp-link-title">Wishlist</span>
                                            </a>
                                        </li>



                                    </div>
                                </ul>
                            </li>


                            <li class="menu-link">
                                <a href="/pages/contact" class="link-title ">
                                    <span class="sp-link-title">Contact</span>
                                </a>
                                <a href="/pages/contact" class="link-title link-title-lg">
                                    <span class="sp-link-title">Contact</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="custom-info-block">
                    <div class="custom-info-item">

                        <div class="info-icon">
                            <span class="icon"><i class=""></i></span>
                        </div>

                        <div class="info-content">

                            <span class="label"></span>




                        </div>
                    </div>
                    <div class="custom-info-item">

                        <div class="info-icon">
                            <span class="icon"><i class=""></i></span>
                        </div>

                        <div class="info-content">

                            <span class="label"></span>




                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-service-area">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="single-service">

                        </ul>
                        <ul class="single-service single-service-xs">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- Modal -->
    <div class="modal fade" id="seachmodal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="crap-search">
                                    <button type="button" class="pop-close" data-bs-dismiss="modal"
                                        aria-label="Close"><i class="ri-close-line"></i></button>
                                    <form action="/search" method="get" class="search-bar" id="search-bar"
                                        role="search">
                                        <div class="form-search">
                                            <input type="hidden" name="type" value="product">
                                            <input type="hidden" name="options[unavailable_products]" value="show">
                                            <input type="hidden" name="options[prefix]" value="last">
                                            <input type="search" name="q" value="" placeholder="Find our seach"
                                                id="search" class="input-text" aria-label="Search" required>
                                            <button class="search-btn" type="submit"><i
                                                    class="ri-search-line"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mini-cart">
        <a href="javascript:void(0)" class="shopping-cart-close">
            <i class="feather-x"></i>
        </a>
        <div class="cart-empty-title" style="display:block;">
            <p>No products in the cart.</p>
        </div>
        <div class="cart-item-title" style="display:none;">
            <p>
                <span class="cart-count-desc">There are</span>
                <span class="cart-count-item bigcounter">0</span>
                <span class="cart-count-desc">products</span>
            </p>
        </div>
        <ul class="cart-item-loop cart-item-wrap" style="display:none;">

        </ul>
        <ul class="subtotal-title-area" style="display:none;">
            <li class="subtotal-titles">
                <div class="subtotal-titles">
                    <h3>Sub Total:</h3>
                    <span id="cart-total" class="subtotal-price">$0.00</span>
                </div>
            </li>
            <li class="mini-cart-btns">
                <div class="cart-btns">
                    <a href="/cart" class="btn-style">View Cart</a>
                    <a href="/checkout" class="btn-style">Checkout</a>
                </div>
            </li>
        </ul>
    </div>

    <script>
        addEventListener('DOMContentLoaded', (event) => {
            var slides = document.querySelectorAll('ul.single-service-xs li.service-content');
            var currentSlide = 0;
            var slideInterval = setInterval(nextSlide, 3000);
            function nextSlide() {
                slides[currentSlide].className = 'service-content';
                currentSlide = (currentSlide + 1) % slides.length;
                slides[currentSlide].className = 'service-content show';
            }
        });
    </script>

</div>