.announcement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0rem;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; */
    background-color: var(--font-color-primary);
    font-family: var(--font-custom-stack-header);
    padding: 0.5% 2% 0% 2%;
    color: white;
}

.slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 45%;
    /* max-width: 600px; */
    margin: auto;
    overflow: hidden;
  }
  
  .slider-container {
    overflow: hidden;
    width: 100%;
  }
  
  .slider-track {
    display: flex;
    width: 100%; /* 2 messages */
  }
  
  .slider-message {
    flex: 0 0 100%;
    text-align: center;
    /* padding: 2rem; */
    font-size: 1rem;
    /* background: #333; */
    color: white;
  }
  
  .nav-btn {
    position: absolute;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    font-size: 1rem;
    color: white;
    /* background: rgba(0, 0, 0, 0.5); */
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
  }
  
  .nav-btn.left {
    left: 0.5rem;
  }
  
  .nav-btn.right {
    right: 0.5rem;
  }
  

.announcement-contact {
    text-align: right;
}
.announcement-contact svg{
    width: 1.2rem;
    height: 1.2rem;
    fill: var(--extra-color-body);
    margin-bottom: -2px;

}
.announcement-contact a{
    color: var(--extra-color-body);
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.announcement-contact a::after {
    content: "";
    position: absolute;
    left: 100%;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: var(--font-color-primary);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.announcement-contact a:hover {
    color: var(--extra-color-body);
}

.announcement-contact a:hover::after {
    width: 0%;
    left: 0;
}

.header-strip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--font-custom-stack-header);
    padding: 10px 30px;
    border-bottom: 1px solid #ddd;
}

.logo {
    cursor: pointer;
}

.logo img {
    height: 70px;
    width: auto;
}

.navigation .menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    align-items: center;
    font-family: var(--font-custom-stack-body);
}
.menu-item-container{
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    align-items: center;
}
.show-in-tablet{
    display: none;
}
.hide-in-tablet{
    display: flex;
}

.menu-item {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

a {
    position: relative;
    color: var(--font-color-secondary);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a::after {
    content: "";
    position: absolute;
    left: 100%;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: var(--font-color-primary);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

a:hover {
    color: var(--font-color-primary);
}

a:hover::after {
    width: 100%;
    left: 0;
}


.menu-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-icon svg {
    width: 24px;
    height: 24px;
    fill: var(--font-color-secondary);
    transition: fill 0.3s ease-in-out;
}

.menu-icon:hover svg {
    fill: var(--font-color-primary);
}

#heart svg {
    stroke: var(--font-color-secondary);
}

#heart:hover svg {
    stroke: var(--font-color-primary);
    transition: stroke 0.3s ease-in-out;
}

/* cart styles */
.cart-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: right;
    align-items: flex-start;
    z-index: 1000;
}
.cart-box{
    background: var(--background-color-body);
    padding: 20px;
    text-align: left;
    position: relative;
    width: 20vw;
    height: 100vh;
}
.close-btn {
    position: absolute;
    top: 8px;
    left: 12px;
    background: none;
    border:0;
    font-size: 25px;
    cursor: pointer;
    color: var(--font-color-secondary);
  }
.close-btn:hover{
    color: var(--font-color-primary);
}
.text{
    color: var(--font-color-secondary);
    margin:1rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
}

.line{
    width: 100%;
    margin: 0.25rem 0;
    border-bottom: 0.2px solid var(--font-color-paragraph);
}
.line-menu{
    width: 100%;
    margin: 0.2rem 0;
    border-bottom: 0.15px solid #ccc;
}
.all-products-container{
    height: 55vh;
    overflow-y: auto; /* Enable vertical scrolling */
    scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888888 var(--background-color-body); /* Firefox */
}
.product-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
}
.product-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.img-container{
    
    width: 4rem;
    height: 4rem;
    border: 0.25px solid var(--font-color-paragraph);
}
.img-container img{
    cursor: pointer;
    width: 4rem;
    height: 4rem;
}
.product-info{
    width: 75%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.cart-product-name{
    cursor: pointer;
    color: var(--font-color-secondary);
    margin:0.2rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
}
.cart-product-name:hover{
    color: var(--font-color-primary);
}
.product-price{
    color: var(--font-color-primary);
    margin:0.2rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
}
.quantity-delete-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.counter{
    margin: 0.25rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1px solid var(--font-color-paragraph);
}
.counter button{
    cursor: pointer;
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    width: 1.7rem;
    height: 1.7rem;
    border: 0;
    background: none;
}
.counter span{
    text-align: center;
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    width: 1.7rem;
    height: 1.59rem;
    border: 0;
    border-right: 0.1px solid var(--font-color-paragraph);
    border-left: 0.1px solid var(--font-color-paragraph);
    background: none;
}
.delete-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.delete-container svg, .delete-container path{
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    fill: var(--font-color-paragraph);
}
.delete-container svg:hover, .delete-container path:hover{
    fill: var(--font-color-primary);
}
.total-price-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button-beige{
    width: 100%;
    background-color: var(--font-color-primary);
    border: 0px;
    padding: 0.75rem 1.25rem;
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    margin: 0.2rem 0;
    border: 2px solid transparent;
    cursor: pointer;
}

.button-beige:hover{
    background-color: transparent;
    color: var(--font-color-primary);
    border: 2px solid var(--font-color-primary);
}

.logged-in-icon {
  color: var(--font-color-primary) !important;
}

.logged-out-icon {
  color: var(--font-color-secondary) !important;
}

/* dearch bar style */
.search-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    z-index: 1000;
}
.search-box{
    background: var(--background-color-body);
    padding: 1rem 3rem;
    position: relative;
    width: 100vw;
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-content{
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.close-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.close-search-btn {
    background: none;
    border:0;
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--font-color-primary);
  }
.search-input-container{
    width: 85vw;
    border: 0;
    border-bottom: 0.25px solid var(--font-color-paragraph);
    display: flex;
    align-items: center;
    justify-content: space-between;
}  
.search-input{
    width: 90%;
    border: 0;
    background: none;
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
}
.search-input:focus {
    outline: none;
    border: none;
  }

.search-input-container svg, .search-input-container path{
    padding: 3px;
    width: 1rem;
    height: 1rem;
    fill:var(--font-color-primary) ;
    cursor: pointer;
}
.search-result-container{
    position: relative;
    width: 85vw;
    /* height: 50vh; */
    /* border: 0.25px solid var(--font-color-paragraph); */
    margin-top: -2rem;
    z-index: 99;
    background: var(--background-color-body);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
}
.search-text{
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--font-color-paragraph);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
}
.see-result{
    cursor: pointer;
    border: 0;
    background: none;
    color: var(--font-color-primary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.7rem;
}
.all-search-products{
    width: 85vw;
    max-height: 35vh;
    overflow-y: auto; /* Enable vertical scrolling */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #888888 var(--background-color-body); /* Firefox */
}
.search-products{
    width: 97%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
}
.one-product{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-data{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    margin-left: 1rem;
    justify-content: left;
}
.product-data img{
    cursor: pointer;
    width: 5rem;
    height: 5rem;
}
.search-line{
    width: 86vw;
    margin:  -0.5rem 0;
    border-bottom: 0.2px solid var(--font-color-paragraph);
}
.product-name{
    cursor: pointer;
    padding: 0 1rem;
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.7rem;
}
.product-name:hover{
    color: var(--font-color-primary);
}
@media (min-width: 769px) and (max-width: 1024px) {

    .slider-wrapper {
        width: 40%;
      }
      .cart-box{
        width: 35vw;
    }
}

@media (min-width: 451px) and (max-width: 768px) {
  
    .announcement {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slider-wrapper {
        width: 75%;
    }
    .announcement-contact{
        display: none;
    }
    .announcement-offer{
        display: none;
    }
    
    .logo img {
        height: auto;
        width: 10vw;
    }
    
    .navigation .menu {
        gap: 15px;
    }
    
    .menu-item {
        font-size: 14px;
        margin: 0.65rem 0.35rem;
    }

     .menu-icon {
        display: flex;
        align-items: center;
        cursor: pointer;
        width: 20px;
        height: 20px;
    }
    .menu-icon svg{
        width: 20px;
        height: 20px;
    }
    .show-in-tablet{
        display: flex;
    }
    .hide-in-tablet{
        display: none;
    }
    .menu-tablet{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }

    
    .menu-item-container{
        position:absolute;
        /* top: 7.5rem; */
        width: auto;
        height: auto;
        display: flex;
        justify-content: left;
        align-items: flex-start;
        z-index: 1000;   
    }
    .menu-item-box{
        list-style: none;
        font-family: var(--font-custom-stack-paragraph);
        font-size: 1.2rem;
        background: var(--background-color-body);
        text-align: left;
        position: relative;
        width: 19vw;
        height: auto;
    }
    .menu-item-box .menu-item:nth-child(1){
        padding-top:1.25rem ;
    }
    .close-btn-right-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
    }
    .close-btn-right {
       background: none;
        border:0;
        font-size: 22px;
        cursor: pointer;
        color: var(--font-color-secondary);
      }
    .close-btn-right:hover{
        color: var(--font-color-primary);
    }

    
    /* cart styles */
    .cart-box{
        width: 35vw;
    }
    .close-btn {
        font-size: 20px;
      }
   
    .text{
        margin:1rem 0;
        font-size: 0.925rem;
    }
    .all-products-container{
        height: 50vh;
    }
   
    .img-container{
        
        width: 12vw;
        height: 12vw;
        object-fit: contain;
    }
    .img-container img{
        width: 100%;
        height:100% ;
    }
    .product-info{
        width: 70%;
        display: flex;
        align-items: flex-start;
        justify-content: left;
        flex-direction: column;
        padding: 1rem;
    }
    
    .cart-product-name{
        font-size: 0.925rem;
    }
    .product-price{
        font-size: 0.925rem;
    }
  
    .counter button{
        font-size: 0.925rem;
        width: 1.5rem;
        height: 1.5rem;
    }
    .counter span{
        font-size: 0.925rem;
        width: 1.5rem;
        height: 1.38rem;
    }
  
    .delete-container svg, .delete-container path{
        width: 0.925rem;
        height: 0.925rem;
    }
   
    .button-beige{
       padding: 0.5rem 1rem;
        font-size: 0.925rem;
        margin: 0.25rem 0;
    }
 
    /* search bar style */
    .search-input{
        font-size: 0.925rem;
    }
 
    .search-text{
        font-size: 0.925rem;
    }
    .see-result{
        font-size: 0.925rem;
    }
 
    .product-data{
        height: 7rem;
        padding: 0.25rem;
    }
    .product-data img{
       margin-left: 0.25rem;
    }

    .product-name{
       font-size: 0.925rem;
    }
}

@media (min-width: 0px) and (max-width: 450px) {
    .announcement {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .slider-wrapper {
        width: 95%;
    }
     .announcement-contact{
        display: none;
     }
     .announcement-offer{
        display: none;
     }
     .announcement-slider div{
        display: none;
     }
     .announcement-slider span{
        font-size: 0.9rem;
     }
     
    .header-strip {
        padding: 10px 10px;
    }
     
     .logo img {
         height: auto;
         width: 15vw;
     }
     
     .navigation .menu {
         gap: 15px;
     }
     
     .menu-item {
         font-size: 12px;
         margin: 0.65rem 0.35rem;
     }
 
      .menu-icon {
         display: flex;
         align-items: center;
         cursor: pointer;
         width: 20px;
         height: 20px;
     }
     .menu-icon svg{
         width: 18px;
         height: 18px;
     }
     .show-in-tablet{
         display: flex;
     }
     .hide-in-tablet{
         display: none;
     }
     
     .menu-tablet{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }

     .menu-item-container{
        position:absolute;
        /* top: 4.75; */
        width: auto;
        height: auto;
        display: flex;
        justify-content: left;
        align-items: flex-start;
        z-index: 1000;   
    }
    .menu-item-box{
        list-style: none;
        font-family: var(--font-custom-stack-paragraph);
        font-size: 1.2rem;
        background: var(--background-color-body);
        text-align: left;
        position: relative;
        width: 29vw;
        height: auto;
    }
    .menu-item-box .menu-item:nth-child(1){
        padding-top:0.75rem ;
    }
   
     .close-btn-right-container{
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: right;
     }
     .close-btn-right {
        background: none;
         border:0;
         font-size: 22px;
         cursor: pointer;
         color: var(--font-color-secondary);
       }
     .close-btn-right:hover{
         color: var(--font-color-primary);
     }
 
     
     /* cart styles */
     .cart-box{
         width: 70vw;
     }
     .close-btn {
         font-size: 20px;
       }
    
     .text{
         margin:1rem 0;
         font-size: 0.85rem;
     }
     .all-products-container{
         height: 50vh;
     }
    
     .img-container{
         
         width: 20vw;
         height: 20vw;
         object-fit: contain;
     }
     .img-container img{
         width: 100%;
         height:100% ;
     }
     .product-info{
         width: 70%;
         display: flex;
         align-items: flex-start;
         justify-content: left;
         flex-direction: column;
         padding: 1rem;
     }
     
     .cart-product-name{
         font-size: 0.85rem;
     }
     .product-price{
         font-size: 0.85rem;
     }
   
     .counter button{
         font-size: 0.85rem;
         width: 1.5rem;
         height: 1.5rem;
     }
     .counter span{
         font-size: 0.85rem;
         width: 1.5rem;
         height: 1.38rem;
     }
   
     .delete-container svg, .delete-container path{
         width: 0.85rem;
         height: 0.85rem;
     }
    
     .button-beige{
        padding: 0.5rem 1rem;
         font-size: 0.85rem;
         margin: 0.25rem 0;
     }
  
     /* search bar style */
     .search-input{
         font-size: 0.85rem;
     }
  
     .search-text{
         font-size: 0.85rem;
     }
     .see-result{
         font-size: 0.85rem;
     }
  
     .product-data{
        width: 95%;
        height: 8rem;
         padding: 0.2rem;
         margin-left: 0.2rem;
     }
     .product-data img{
        margin-left: 0.25rem;
     }
 
     .product-name{
        font-size: 0.85rem;
     }
}