<app-header></app-header>

<section id="content">
    <article class="hero">
        <div class="hero-container">
            <p class="hero-title fade-in-start" appFadeInOnScroll>{{ 'PRIVACY.PRIVACY' | translate }} {{ 'PRIVACY.POLICY' | translate }}</p>    
        </div>
    </article>
    <article class="page">
        <h2 class="headline fade-in-start" appFadeInOnScroll>{{ 'PRIVACY.PRIVACY' | translate }} <span class="marcellus-font">{{ 'PRIVACY.POLICY' | translate }}</span></h2>
        <div class="section fade-in-start" appFadeInOnScroll>
            <p>{{ 'PRIVACY.INTRO-TEXT1' | translate }} </p>
            <p> {{ 'PRIVACY.INTRO-TEXT2' | translate }}</p>
        </div>

        <div class="section fade-in-start" appFadeInOnScroll>
            <h2>{{ 'PRIVACY.INTERPRETATION-DEFINITIONS' | translate }}</h2>
            <h3>{{ 'PRIVACY.INTERPRETATION' | translate }}</h3>
            <p>{{ 'PRIVACY.INTERPRETATION-TEXT' | translate }}</p>
            <h3>{{ 'PRIVACY.DEFINITIONS' | translate }}</h3>
            <p>{{ 'PRIVACY.DEFINITIONS-TEXT' | translate }}</p>
            <ul>
                <li><strong>{{ 'PRIVACY.DEFINITIONS-LI1-1' | translate }} </strong> {{ 'PRIVACY.DEFINITIONS-LI1-2' | translate }} </li>
                <li><strong>{{ 'PRIVACY.DEFINITIONS-LI2-1' | translate }}  </strong>{{ 'PRIVACY.DEFINITIONS-LI2-2' | translate }} </li>
                <li><strong>{{ 'PRIVACY.DEFINITIONS-LI3-1' | translate }}  </strong>{{ 'PRIVACY.DEFINITIONS-LI3-2' | translate }} </li>
                <li><strong>{{ 'PRIVACY.DEFINITIONS-LI4-1' | translate }}  </strong>{{ 'PRIVACY.DEFINITIONS-LI4-2' | translate }} </li>
                <li><strong>{{ 'PRIVACY.DEFINITIONS-LI5-1' | translate }}  </strong>{{ 'PRIVACY.DEFINITIONS-LI5-2' | translate }} </li>
                <li><strong>{{ 'PRIVACY.DEFINITIONS-LI6-1' | translate }}  </strong>{{ 'PRIVACY.DEFINITIONS-LI6-2' | translate }} </li>
                <li><strong>{{ 'PRIVACY.DEFINITIONS-LI7-1' | translate }} </strong>{{ 'PRIVACY.DEFINITIONS-LI7-2' | translate }} </li>
                <li><strong>{{ 'PRIVACY.DEFINITIONS-LI8-1' | translate }}  </strong>{{ 'PRIVACY.DEFINITIONS-LI8-2' | translate }} </li>
                <li><strong>{{ 'PRIVACY.DEFINITIONS-LI9-1' | translate }}  </strong>{{ 'PRIVACY.DEFINITIONS-LI9-2' | translate }} </li>
                <li><strong>{{ 'PRIVACY.DEFINITIONS-LI10-1' | translate }}  </strong>{{ 'PRIVACY.DEFINITIONS-LI10-2' | translate }} </li>
                <li><strong>{{ 'PRIVACY.DEFINITIONS-LI11-1' | translate }}  </strong>{{ 'PRIVACY.DEFINITIONS-LI11-2' | translate }} <a href="https://old-souq.com"> {{ 'PRIVACY.DEFINITIONS-LI11-3' | translate }}  </a></li>
                <li><strong>{{ 'PRIVACY.DEFINITIONS-LI12-1' | translate }}  </strong>{{ 'PRIVACY.DEFINITIONS-LI12-2' | translate }} </li>
            </ul>
        </div>
        <div class="section">
            <span class="fade-in-start" appFadeInOnScroll>
            <h2>{{ 'PRIVACY.COLLECTING-AND-USING-DATA' | translate }} </h2>
            <h3>{{ 'PRIVACY.DATA-COLLECTED' | translate }} </h3>

            <h4>{{ 'PRIVACY.PERSONAL-DATA' | translate }} </h4>
            <p>{{ 'PRIVACY.PERSONAL-DATA-TEXT' | translate }} </p>
        </span>
            <ul class="fade-in-start" appFadeInOnScroll>
                <li>{{ 'PRIVACY.PERSONAL-DATA-LI1' | translate }} </li>
                <li>{{ 'PRIVACY.PERSONAL-DATA-LI2' | translate }} </li>
                <li>{{ 'PRIVACY.PERSONAL-DATA-LI3' | translate }} </li>
                <li>{{ 'PRIVACY.PERSONAL-DATA-LI4' | translate }} </li>
                <li>{{ 'PRIVACY.PERSONAL-DATA-LI5' | translate }} </li>
            </ul>
            <span class="fade-in-start" appFadeInOnScroll>
                <h4>{{ 'PRIVACY.USAGE-DATA' | translate }} </h4>
                <p>{{ 'PRIVACY.USAGE-DATA-TEXT1' | translate }} </p>
                <p>{{ 'PRIVACY.USAGE-DATA-TEXT2' | translate }} </p>
                <p>{{ 'PRIVACY.USAGE-DATA-TEXT3' | translate }} </p>
                <p>{{ 'PRIVACY.USAGE-DATA-TEXT4' | translate }} </p>

                <h4>{{ 'PRIVACY.TECH-AND-COOKIES' | translate }}</h4>
                <p>{{ 'PRIVACY.TECH-AND-COOKIES-TEXT1' | translate }}</p>
                <ul>
                    <li><strong>{{ 'PRIVACY.TECH-AND-COOKIES-LI1-1' | translate }} </strong> {{ 'PRIVACY.TECH-AND-COOKIES-LI1-2' | translate }}</li>
                    <li><strong>{{ 'PRIVACY.TECH-AND-COOKIES-LI2-1' | translate }}</strong> {{ 'PRIVACY.TECH-AND-COOKIES-LI2-2' | translate }}</li>
                </ul> 
                <p>{{ 'PRIVACY.TECH-AND-COOKIES-TEXT2' | translate }}</p>   
                <p>{{ 'PRIVACY.TECH-AND-COOKIES-TEXT3' | translate }}</p>
            </span>
             <ul class="fade-in-start" appFadeInOnScroll>
                <li><strong>{{ 'PRIVACY.TECH-AND-COOKIES-LI3-1' | translate }}</strong>
                    <br />{{ 'PRIVACY.TECH-AND-COOKIES-LI3-2' | translate }}
                    <br />{{ 'PRIVACY.TECH-AND-COOKIES-LI3-3' | translate }}
                    <br />{{ 'PRIVACY.TECH-AND-COOKIES-LI3-4' | translate }}
                </li>
                <li><strong>{{ 'PRIVACY.TECH-AND-COOKIES-LI4-1' | translate }}</strong>
                    <br />{{ 'PRIVACY.TECH-AND-COOKIES-LI4-2' | translate }}
                    <br />{{ 'PRIVACY.TECH-AND-COOKIES-LI4-3' | translate }}
                    <br />{{ 'PRIVACY.TECH-AND-COOKIES-LI4-4' | translate }}
                </li>
                <li><strong>{{ 'PRIVACY.TECH-AND-COOKIES-LI5-1' | translate }}</strong>
                    <br />{{ 'PRIVACY.TECH-AND-COOKIES-LI5-2' | translate }}
                    <br />{{ 'PRIVACY.TECH-AND-COOKIES-LI5-3' | translate }}
                    <br />{{ 'PRIVACY.TECH-AND-COOKIES-LI5-4' | translate }}
                </li>
            </ul>
            <span class="fade-in-start" appFadeInOnScroll>
            <p>{{ 'PRIVACY.TECH-AND-COOKIES-TEXT4' | translate }}</p>


            <h3>{{ 'PRIVACY.USE-DATA' | translate }}</h3>
            <p>{{ 'PRIVACY.USE-DATA-TEXT1' | translate }}</p>
            </span>
            
            <ul class="fade-in-start" appFadeInOnScroll>
                <li><strong>{{ 'PRIVACY.USE-DATA-LI1-1' | translate }} </strong>{{ 'PRIVACY.USE-DATA-LI1-2' | translate }} </li>
                <li><strong>{{ 'PRIVACY.USE-DATA-LI2-1' | translate }} </strong>{{ 'PRIVACY.USE-DATA-LI2-2' | translate }} </li>
                <li><strong>{{ 'PRIVACY.USE-DATA-LI3-1' | translate }} </strong>{{ 'PRIVACY.USE-DATA-LI3-2' | translate }} </li>
                <li><strong>{{ 'PRIVACY.USE-DATA-LI4-1' | translate }} </strong>{{ 'PRIVACY.USE-DATA-LI4-2' | translate }} </li>
                <li><strong>{{ 'PRIVACY.USE-DATA-LI5-1' | translate }} </strong>{{ 'PRIVACY.USE-DATA-LI5-2' | translate }} </li>
                <li><strong>{{ 'PRIVACY.USE-DATA-LI6-1' | translate }} </strong>{{ 'PRIVACY.USE-DATA-LI6-2' | translate }} </li>
                <li><strong>{{ 'PRIVACY.USE-DATA-LI7-1' | translate }} </strong>{{ 'PRIVACY.USE-DATA-LI7-2' | translate }}</li>
                <li><strong>{{ 'PRIVACY.USE-DATA-LI8-1' | translate }} </strong>{{ 'PRIVACY.USE-DATA-LI8-2' | translate }}</li>
            </ul>
            <p>{{ 'PRIVACY.USE-DATA-TEXT2' | translate }}</p>
            <ul class="fade-in-start" appFadeInOnScroll>
                <li><strong>{{ 'PRIVACY.USE-DATA-LI9-1' | translate }} </strong> {{ 'PRIVACY.USE-DATA-LI9-2' | translate }}</li>
                <li><strong>{{ 'PRIVACY.USE-DATA-LI10-1' | translate }} </strong> {{ 'PRIVACY.USE-DATA-LI10-2' | translate }}</li>
                <li><strong>{{ 'PRIVACY.USE-DATA-LI11-1' | translate }} </strong> {{ 'PRIVACY.USE-DATA-LI11-2' | translate }}</li>
                <li><strong>{{ 'PRIVACY.USE-DATA-LI12-1' | translate }} </strong> {{ 'PRIVACY.USE-DATA-LI12-2' | translate }}</li>
                <li><strong>{{ 'PRIVACY.USE-DATA-LI13-1' | translate }} </strong> {{ 'PRIVACY.USE-DATA-LI13-2' | translate }}</li>
                <li><strong>{{ 'PRIVACY.USE-DATA-LI14-1' | translate }} </strong> {{ 'PRIVACY.USE-DATA-LI14-2' | translate }}</li>
            </ul>
            <span class="fade-in-start" appFadeInOnScroll>
            <h3>{{ 'PRIVACY.RETENTION-DATA' | translate }}</h3>
            <p>{{ 'PRIVACY.RETENTION-DATA-TEXT1' | translate }}</p>
            <p>{{ 'PRIVACY.RETENTION-DATA-TEXT2' | translate }}</p>
            
            <h3>{{ 'PRIVACY.TRANSFER-DATA' | translate }}</h3>
            <p>{{ 'PRIVACY.TRANSFER-DATA-TEXT1' | translate }}</p>
            <p>{{ 'PRIVACY.TRANSFER-DATA-TEXT2' | translate }}</p>
            <p>{{ 'PRIVACY.TRANSFER-DATA-TEXT3' | translate }}</p>

            <h3>{{ 'PRIVACY.DELETE-DATA' | translate }}</h3>
            <p>{{ 'PRIVACY.DELETE-DATA-TEXT1' | translate }}</p>
            <p>{{ 'PRIVACY.DELETE-DATA-TEXT2' | translate }}</p>
            <p>{{ 'PRIVACY.DELETE-DATA-TEXT3' | translate }}</p>
            <p>{{ 'PRIVACY.DELETE-DATA-TEXT4' | translate }}</p>

            <h3>{{ 'PRIVACY.DISCLOSURE-DATA' | translate }}</h3>
            <h4>{{ 'PRIVACY.BUSINESS-TRANSACTIONS' | translate }}</h4>
            <p>{{ 'PRIVACY.BUSINESS-TRANSACTIONS-TEXT' | translate }}</p>
            
            <h4>{{ 'PRIVACY.LAW-ENFORCEMENT' | translate }}</h4>
            <p>{{ 'PRIVACY.LAW-ENFORCEMENT-TEXT' | translate }}</p>
            
            <h4>{{ 'PRIVACY.LEGAL-REQUIREMENTS' | translate }}</h4>
            <p>{{ 'PRIVACY.LEGAL-REQUIREMENTS-TEXT' | translate }}</p>
            </span>
            <ul class="fade-in-start" appFadeInOnScroll>
                <li>{{ 'PRIVACY.LEGAL-REQUIREMENTS-LI1' | translate }}</li>
                <li>{{ 'PRIVACY.LEGAL-REQUIREMENTS-LI2' | translate }}</li>
                <li>{{ 'PRIVACY.LEGAL-REQUIREMENTS-LI3' | translate }}</li>
                <li>{{ 'PRIVACY.LEGAL-REQUIREMENTS-LI4' | translate }}</li>
                <li>{{ 'PRIVACY.LEGAL-REQUIREMENTS-LI5' | translate }}</li>
            </ul>
            
            <h3>{{ 'PRIVACY.SECURITY-DATA' | translate }}</h3>
            <p>{{ 'PRIVACY.SECURITY-DATA-TEXT' | translate }}</p>
        </div>
        <div class="section fade-in-start" appFadeInOnScroll>
            <h2>{{ 'PRIVACY.CHILDREN-PRIVACY' | translate }}</h2>
            <p>{{ 'PRIVACY.CHILDREN-PRIVACY-TEXT1' | translate }}</p>
            <p>{{ 'PRIVACY.CHILDREN-PRIVACY-TEXT2' | translate }}</p>
        </div>

        <div class="section fade-in-start" appFadeInOnScroll>
    
            <h2>{{ 'PRIVACY.LINKS' | translate }}</h2>
            <p>{{ 'PRIVACY.LINKS-TEXT1' | translate }}</p>
            <p>{{ 'PRIVACY.LINKS-TEXT2' | translate }}</p>
        </div>

        <div class="section fade-in-start" appFadeInOnScroll>
            <h2>{{ 'PRIVACY.CHANGES' | translate }}</h2>
            <p>{{ 'PRIVACY.CHANGES-TEXT1' | translate }}</p>
            <p>{{ 'PRIVACY.CHANGES-TEXT2' | translate }}</p>
            <p>{{ 'PRIVACY.CHANGES-TEXT3' | translate }}</p>

        </div>

        <div class="section fade-in-start" appFadeInOnScroll>
            
            <h2>{{ 'PRIVACY.CONTACT' | translate }}</h2>
            <p>{{ 'PRIVACY.CONTACT-TEXT' | translate }}</p>
            <ul>
                <li>{{ 'PRIVACY.CONTACT-LI1-1' | translate }}<a href="mailto:info@old-souq.com">{{ 'PRIVACY.CONTACT-LI1-2' | translate }}</a></li>
                <Li>{{ 'PRIVACY.CONTACT-LI2-1' | translate }} <a href="http://old-souq.com/contact">{{ 'PRIVACY.CONTACT-LI2-2' | translate }}</a></Li>
                <li>{{ 'PRIVACY.CONTACT-LI3-1' | translate }}<a href="https://wa.me/96106401013" target="_blank">{{ 'PRIVACY.CONTACT-LI3-2' | translate }}</a></li>

            </ul>
        </div>


        <p class="last-updated fade-in-start" appFadeInOnScroll><strong>{{ 'PRIVACY.LAST-UPDATED' | translate }}</strong></p>
    </article>
</section>

<app-footer></app-footer>