<section>
    <article id="header" class="header-article">
        <div class="header-container">
            <img (click)="goToHome()" src="https://old-souqs.sirv.com/Essential/logo.png" />
            <svg (click)="goToCart()" xmlns="http://www.w3.org/2000/svg" width="32.402" height="32" viewBox="0 0 32.402 32" id="cart">
                <path d="M30 8H6c-.156 0-.292.054-.438.088l-.776-3.316A1 1 0 0 0 3.812 4H.942a1 1 0 0 0 0 2H3.02l1.242 5.312L6 20c0 .072.034.134.042.204l-1.018 4.58A.997.997 0 0 0 6 26h22.688a1 1 0 0 0 0-2H7.248l.458-2.06c.1.016.19.06.294.06h18.23c1.104 0 1.77-.218 2.302-1.5l3.248-9.964C32.344 8.75 31.106 8 30 8zM6 30a2 2 1080 1 0 4 0 2 2 1080 1 0-4 0zm18 0a2 2 1080 1 0 4 0 2 2 1080 1 0-4 0z"></path>
              </svg>
        </div>
    </article>

    <div class="line"></div>

    <article id="checkout">
        <div class="grid-container">
            <div class="delivery-info-container">

                <div class="delivery-info-item">
                    <p class="title">{{ 'CHECKOUT.ACCOUNT' | translate }}</p>
                    <div class="formField">
                        <input required="" type="text"/>
                        <span>{{ 'CHECKOUT.EMAIL' | translate }}</span>
                    </div>
                    <span class="email-checkbox">
                        <input id="email" type="checkbox" /> <label for="email"> {{ 'CHECKOUT.EMAIL-NEWS' | translate }}</label>
                    </span>
                </div>

                <div class="delivery-info-item">
                    <p class="title">{{ 'CHECKOUT.DELIVERY' | translate }}</p>
                    <div class="formField">
                        <input required="" type="text"/>
                        <span>{{ 'CHECKOUT.COUNTRY' | translate }}</span>
                    </div>

                    <div class="grid-input">
                        <div class="formField">
                            <input required="" type="text"/>
                            <span>{{ 'CHECKOUT.FIRST-NAME' | translate }} </span>
                        </div>
                        <div class="formField">
                            <input required="" type="text"/>
                            <span>{{ 'CHECKOUT.LAST-NAME' | translate }} </span>
                        </div>
                    </div>
                    <div class="formField">
                        <input required="" type="text"/>
                        <span>{{ 'CHECKOUT.ADDRESS' | translate }}</span>
                    </div>

                    <div class="formField">
                        <input required="" type="text"/>
                        <span>{{ 'CHECKOUT.APARTMENT' | translate }}</span>
                    </div>

                    <div class="grid-input">
                        <div class="formField">
                            <input required="" type="text"/>
                            <span>{{ 'CHECKOUT.CITY' | translate }}</span>
                        </div>
                        <div class="formField">
                            <input required="" type="text"/>
                            <span>{{ 'CHECKOUT.POSTAL-CODE' | translate }} </span>
                        </div>
                    </div>

                    <span class="email-checkbox">
                        <input id="email" type="checkbox" /> <label for="email"> {{ 'CHECKOUT.SAVE-INFO' | translate }}</label>
                    </span>
                    <p class="subtitle">{{ 'CHECKOUT.SHIPPING-METHOD' | translate }}</p>
                    <div class="shipping-container">
                        <p class="text">{{ 'CHECKOUT.STANDARD' | translate }}</p>
                        <p class="text" style="font-weight: 700;">{{ 'CHECKOUT.FREE' | translate }}</p>
                    </div>
                
                </div>

                <div class="delivery-info-item">
                    <p class="title">{{ 'CHECKOUT.PAYMENT' | translate }}</p>
                    <p class="note" >{{ 'CHECKOUT.TRANSACTION-NOTE' | translate }}</p>

                    <div class="payment-method-container">
                        <label class="payment-name">
                            <input type="radio" name="payment" value="card" (change)="selectPaymentMethod('card')" [checked]="paymentMethod === 'card'" />
                            {{ 'CHECKOUT.PAY-BY-CARD' | translate }}
                        </label>
                        
                        <label class="payment-name">
                            <input type="radio" name="payment" value="cod" (change)="selectPaymentMethod('cod')" [checked]="paymentMethod === 'cod'" />
                            {{ 'CHECKOUT.CASH-ON-DELIVERY' | translate }}
                        </label>
                        
                          <!-- Card Payment Section -->
                        <div *ngIf="paymentMethod === 'card'" class="card-payment">
                            <h4 class="subtitle">{{ 'CHECKOUT.CARD-DETAILS' | translate }}</h4>
                        
                            <div class="formField">
                                <input required="" type="text"/>
                                <span>{{ 'CHECKOUT.FULL-NAME' | translate }} </span>
                            </div>
                            <div class="formField">
                                <input required="" type="number"  maxlength="19"/>
                                <span>{{ 'CHECKOUT.CARD-NUMBER' | translate }}</span>
                            </div>
    
                            <div class="grid-input">
                                <div class="formField">
                                    <input required="" type="text"  maxlength="5"/>
                                    <span>{{ 'CHECKOUT.EXPIRY-DATE' | translate }}</span>
                                </div>
                                <div class="formField">
                                    <input required="" type="number"  maxlength="3"/>
                                    <span>{{ 'CHECKOUT.CVV' | translate }} </span>
                                </div>
                            </div>
                           
                        </div>
                    </div>

                    <div class="delivery-info-item hide">
                        <p class="title" style="margin-bottom: 0.5rem;">{{ 'CHECKOUT.ORDER-SUMMARY' | translate }}</p>
                        <div class="order-summary-details">
                            <p class="order-summary-subtitle">{{ 'CHECKOUT.SUBTOTAL' | translate }} • {{products.length}} {{ 'CHECKOUT.ITEMS' | translate }}</p>
                            <p class="order-summary-subtitle">$ {{subtotalAmount.toFixed(2)}}</p>
                        </div>
    
                        <div class="order-summary-details">
                            <p class="order-summary-subtitle">{{ 'CHECKOUT.SHIPPING' | translate }}</p>
                            <p class="order-summary-subtitle">{{ 'CHECKOUT.FREE' | translate }}</p>
                        </div>
    
                        <div class="order-summary-details">
                            <p class="order-summary-subtitle">{{ 'CHECKOUT.TAXES' | translate }}</p>
                            <p class="order-summary-subtitle">$ {{taxes.toFixed(2)}}</p>
                        </div>
    
                        <div class="order-summary-details" style="margin: -1rem 0 1.5rem 0;">
                            <p class="title">{{ 'CHECKOUT.TOTAL' | translate }}</p>
                            <p class="title">$ {{totalAmount}}</p>
                        </div>
                    </div>

                    <button class="button-black">{{ 'CHECKOUT.PAY-NOW' | translate }}</button>
                </div> 
                
                <div class="delivery-info-item">
                    <div class="line"></div>
                <p class="note">{{ 'CHECKOUT.RIGHTS-NOTE' | translate }}</p>
                </div>
                
            </div>

            
            <div class="order-info-container" id="rightDiv">
                <div (click)="toggleSummary()" class="order-summary-container">
                    <div class="order-svg-container">
                        <p class="item-name">{{ 'CHECKOUT.ORDER-SUMMARY' | translate }} </p>
                        <svg *ngIf="!displaySummary" width="20" height="30" viewBox="0 0 20 35" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 15 L10 20 L15 15" stroke="black" stroke-width="2" fill="none" />
                        </svg>
                        <svg *ngIf="displaySummary" width="20" height="30" viewBox="0 0 20 35" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 25 L10 20 L15 25" stroke="black" stroke-width="2" fill="none" />
                         </svg>
                    </div>
                    <p class="total-price">${{totalAmount}}</p>
                </div>
                <div class="line-tablet"></div>
                <div id="rightBox" class="right-box"  id="rightBox">
                    <!-- product content as scroll view -->
                    <div class="all-products-container">
                        <div *ngFor="let product of products" class="products-container">

                            <div class="cart-item">
                                <div class="image-container">
                                    <span class="quantity">{{product.quantity}}</span>
                                    <img src="{{product.image}}" alt="Wall sconce">
                                </div>
                                <div class="item-details">
                                    <p class="item-name">{{product.name}}</p>
                                    <p class="item-price">$ {{product.price.toFixed(2)}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="line"></div>

                    <div class="order-details">
                        <p class="order-subtitle">{{ 'CHECKOUT.SUBTOTAL' | translate }} • {{products.length}} {{ 'CHECKOUT.ITEMS' | translate }}</p>
                        <p class="order-subtitle">$ {{subtotalAmount.toFixed(2)}}</p>
                    </div>

                    <div class="order-details">
                        <p class="order-subtitle">{{ 'CHECKOUT.SHIPPING' | translate }}</p>
                        <p class="order-subtitle">{{ 'CHECKOUT.FREE' | translate }}</p>
                    </div>

                    <div class="order-details">
                        <p class="order-subtitle">{{ 'CHECKOUT.TAXES' | translate }}</p>
                        <p class="order-subtitle">$ {{taxes.toFixed(2)}}</p>
                    </div>

                    <div class="order-details">
                        <p class="title">{{ 'CHECKOUT.TOTAL' | translate }}</p>
                        <p class="title">$ {{totalAmount}}</p>
                    </div>

                </div>
              </div>

        </div>
    </article>

</section>