section{
    margin: 0 0;
}

.header-article{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-container img{
    width: 10rem;
    height: 10rem;
    cursor: pointer;
}
.header-container svg, .header-container path{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    fill: var(--font-color-secondary);
}
.header-container svg:hover, .header-container path:hover{
    fill: var(--font-color-primary);
}

.line{
    width: 100%;
    border-bottom: 0.25px solid var(--font-color-paragraph);
  }

  .grid-container{
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);  */
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: center;
}
/* left part  delivery info */
.delivery-info-container{
    width: 50%;
    /* border: 1px solid black; */
    margin: 0 0;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.delivery-info-item{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 0 6rem ;
}
.title{
    margin:2rem 0 0 0 ;
    color: var(--font-color-secondary);
    font-size: 1.1rem;
    font-weight: 700;
    font-family: var(--font-custom-stack-paragraph);
    font-style: normal;
}
.email-checkbox{
    margin: 0.5rem 0;
    color: var(--font-color-secondary);
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-custom-stack-paragraph);
    font-style: normal;
}
.email-checkbox input{
    width: 1rem;
    height: 1rem;
    appearance: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 1px;
    background: var(--extra-color-body);
}
.email-checkbox input:checked{
    position: relative;
}
.email-checkbox input:checked::after{
    content: "✔";
    position: absolute;
    top: -2px;
    left: 2px;
    color: var(--font-color-primary);
    font-size: 12px;
    font-weight: bold;
}
form{
    width: 94.5%;
}
.grid-input{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem;
    justify-content: center;
}
.shipping-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    border-radius: 5px;
    padding:0 1rem;
    background: var(--extra-color-body);
}
.subtitle{
    color: var(--font-color-secondary);
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--font-custom-stack-paragraph);
    font-style: normal;
}
.text{
    color: var(--font-color-secondary);
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-custom-stack-paragraph);
    font-style: normal;
}






/* input style*/
.formField {
    width: 90%;
    /* margin: 10px; */
    position: relative;
    margin: 0.5rem 0;
  }
  .long-field{
    width: 95%;
  }
  
  .formField input {
    width: 100%;
    padding: 20px 15px 10px 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: var(--font-color-secondary);
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-custom-stack-paragraph);
    font-style: normal;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 0 5px transparent;
  }
  
  .formField input:hover,
  .formField input:focus {
    box-shadow: 0 0 0 1px var(--font-color-paragraph);
  }
  
  .formField span {
    position: absolute;
    left: 0;
    top: 0;
    padding: 13px 15px;
    color: var(--font-color-paragraph);
    font-size: 0.75rem;
    font-weight: 400;
    /* text-shadow: -1px -1px 0 #f1f1f1, 1px -1px 0 #f1f1f1, -1px 1px 0 #f1f1f1,
      1px 1px 0 #f1f1f1; */
    transition: 0.3s ease-in-out;
    pointer-events: none;
    font-family: var(--font-custom-stack-paragraph);
    font-style: normal;
  }
  
  .formField input:focus + span,
  .formField input:valid + span {
    transform: translateY(-12px) translateX(-5px) scale(0.95);
    transition: 0.3s ease-in-out;
  }
.payment-method-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 1rem;
}
.card-payment{
    width: 100%;
}
input[type=radio]{
    cursor: pointer;
    accent-color: var(--font-color-secondary);
}


  .payment-name{
    color: var(--font-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }
  /* button black */

  .button-black{
    width: 96%;
    background: var(--font-color-body);
    border: 0px;
    border-radius: 5px;
    padding: 0.75rem 1.25rem;
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    border: 2px solid transparent;
    cursor: pointer;
    margin: 0 0 1rem 0;
}

.button-black:hover{
    background: var(--font-color-primary);
}

.note{
    color: var(--font-color-paragraph);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}


/* right part   order info */

.order-info-container {
    width: 50%; 
    height: 100vh;
    /* padding: 1rem; */
    background: var(--extra-color-body);

    position: relative;
  }

  
  .right-box {
    position: relative;
    width: 90%;
    background: var(--extra-color-body);
    padding: 2rem 2rem;
    height: 100%;
    transition: top 0.3s ease-in-out;
  }
.all-products-container{
    height: 40vh;
    overflow-y: auto; /* Enable vertical scrolling */
    scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888888 var(--background-color-body); /* Firefox */
}
.products-container{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
}

.cart-item {
    width: 95%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.image-container {
    position: relative;
    width: 3.75rem;
    height: 3.75rem;
}

.image-container img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.quantity {
    position: absolute;
    top: -5px;
    right: -5px;
    background: var(--font-color-paragraph);
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.item-details {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    flex: 1;
}

.item-name {
    cursor: pointer;
    color: var(--font-color-secondary);
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-custom-stack-paragraph);
    font-style: normal;
    margin: 0;
}
.item-name:hover {
    color: var(--font-color-primary);
}

.item-price {
    color: var(--font-color-secondary);
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-custom-stack-paragraph);
    font-style: normal;
    margin: 5px 0 0;
}

.order-details {
    margin: 0.75rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.order-subtitle {
    color: var(--font-color-secondary);
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-custom-stack-paragraph);
    font-style: normal;
    margin: 0;
}

.order-summary-container{
    display: none;
}

.hide{
    display: none;
  }

#editOrder{
    font-family:  var(--font-custom-stack-header);
    cursor: pointer;
    font-weight: 700;
    transition: 0.15s;
}

#editOrder:hover{
    color: var(--font-color-primary);
}
@media (min-width: 769px) and (max-width: 1024px) {
   
    .header-container{
        width: 85vw;
    } 
    .order-summary-container{
        display: none;
    }
    /* left part  delivery info */
   
    .delivery-info-item{
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 0 0 2rem ;
    }
     
  .right-box {
    padding: 2rem 1.5rem;
  }
    .hide{
        display: none;
    }
      .grid-container{
        width: 100vw;
    }
}

@media (min-width: 451px) and (max-width: 800px) {
   
    .header-container{
        width: 85vw;
    }
    .header-container img{
        width: 17vw;
        height: 17vw;
    }
    .header-container svg, .header-container path{
        width: 4vw;
        height: 4vw;
    }
      .grid-container{
        width: 100%;
       flex-direction:column-reverse;
       align-items:center;
    }
    /* left part  delivery info */
    .delivery-info-container{
        width: 90%;
        margin: -2rem 0;
    }
    .delivery-info-item{
        padding: 0 0 0 0rem ;
    }
    .title{
        font-size: 1rem;
    }
    .email-checkbox{
        font-size: 0.925rem;
    }
   
    .subtitle{
        font-size: 0.925rem;
    }
    .text{
        font-size: 0.9rem;
    }
      .payment-name{
        font-size: 0.925rem;
      }
      /* button black */
      .button-black{
        font-size: 0.925rem;
    }
    .note{
        font-size: 0.925rem;
    }
    
    
    /* right part   order info */
    
    .order-info-container {
        width: 100%; 
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    
      
      .right-box {
        /* position: relative; */
        width: 75%;
        display: none;
        flex-direction: column;
        /* background: var(--extra-color-body); */
        padding: 1rem;
        margin-right: 2rem;
        height: auto;
        /* transition: top 0.3s ease-in-out; */
      }
    .all-products-container{
        height: auto;
    }
    .products-container{
        width: 100%;
        margin: 0.5rem 0;
    }
    
    .cart-item {
        width: 100%;
    }
    
    .image-container {
        width: 7vw;
        height: 7vw;
    }

    .quantity {
        width: 18px;
        height: 18px;
        font-size: 11px;
    }
    .item-name {
        font-size: 0.925rem;
    }
    
    .item-price {
        font-size: 0.925rem;
    }
    .order-subtitle {
        font-size: 0.925rem;
    }

    /* more design for order summary  */
    .order-summary-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 73%;
        margin-right: 3vw;
        cursor: pointer;
    }
    .total-price{
        color: var(--font-color-secondary);
        font-size: 1rem;
        font-weight: 700;
        font-family: var(--font-custom-stack-paragraph);
        font-style: normal;
    }
    .order-svg-container{
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .line-tablet{
        width: 100%;
        border-bottom: 0.25px solid var(--font-color-paragraph);
      }
      .order-summary-details{
        margin: 0.75rem 0;
        width: 73vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .hide{
        display: flex;
      }
      .order-summary-subtitle {
        color: var(--font-color-secondary);
        font-size: 0.925rem;
        font-weight: 400;
        font-family: var(--font-custom-stack-paragraph);
        font-style: normal;
        margin: -0.5rem 0;
    }
}

@media (min-width: 0px) and (max-width: 450px) {
    .header-container{
        width: 90vw;
    }
    .header-container img{
        width: 21vw;
        height: 21vw;
    }
    .header-container svg, .header-container path{
        width: 5vw;
        height: 5vw;
    }
      .grid-container{
        width: 100vw;
       flex-direction:column-reverse;
       align-items:center;
    }
    /* left part  delivery info */
    .delivery-info-container{
        width: 100%;
        margin: -2rem 0;
    }
    .delivery-info-item{
        padding: 0 0 0 0rem ;
    }
    .title{
        font-size: 0.9rem;
    }
    .email-checkbox{
        font-size: 0.85rem;
    }
   
    .subtitle{
        font-size: 0.85rem;
    }
    .text{
        font-size: 0.85rem;
    }
      .payment-name{
        font-size: 0.85rem;
      }
      /* button black */
      .button-black{
        width: 85vw;
        font-size: 0.85rem;
    }
    .note{
        font-size: 0.85rem;
    }
    form{
        width: 100%;
    }
    .grid-input{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0rem;
        margin: 0 0 0 -4vw;
    }
    .long-field{
        width: 90%;
      }
    /* right part   order info */  
    .order-info-container {
        width: 100%; 
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .right-box {
        width: 82%;
        display: none;
        flex-direction: column;
        padding: 1rem;
        margin-right: 0rem;
        height: auto;
      }
    .all-products-container{
        height: auto;
    }
    .products-container{
        width: 100%;
        margin: 0.5rem 0;
    }
    
    .cart-item {
        width: 100%;
    }
    
    .image-container {
        width: 15vw;
        height: 15vw;
    }
    .quantity {
        width: 18px;
        height: 18px;
        font-size: 11px;
    }
    .item-name {
        font-size: 0.85rem;
    }
    
    .item-price {
        font-size: 0.85rem;
    }
    .order-subtitle {
        font-size: 0.85rem;
    }

    /* more design for order summary  */
    .order-summary-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 83%;
        /* margin-right: 3vw; */
        cursor: pointer;
    }
    .total-price{
        color: var(--font-color-secondary);
        font-size: 0.9rem;
        font-weight: 700;
        font-family: var(--font-custom-stack-paragraph);
        font-style: normal;
    }
    .order-svg-container{
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .line-tablet{
        width: 100%;
        border-bottom: 0.25px solid var(--font-color-paragraph);
      }
      .order-summary-details{
        margin: 0.75rem 0;
        width: 85vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .hide{
        display: flex;
      }
      .order-summary-subtitle {
        color: var(--font-color-secondary);
        font-size: 0.85rem;
        font-weight: 400;
        font-family: var(--font-custom-stack-paragraph);
        font-style: normal;
        margin: -0.5rem 0;
    }
}
