section {
    margin: 0 0;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    display: flex;
    align-items: center;
    /* Centers items vertically */
    height: 30vh;
    width: 100%;
    /* height: 30rem; */
    background: url('https://old-souqs.sirv.com/Banners/DSC00272.jpg') lightgray 50% / cover no-repeat;
}

.hero-container {
    margin: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container span {
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
}

.hero-title {
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

/* most buttons style */
.button-beige {
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s;
    gap: 10px;
    position: relative;
    overflow: hidden;
    background-color: var(--font-color-primary);
    border: 0px;
    padding: 0.5rem 1rem;
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    margin: 0.25rem 0;
    border: 2px solid transparent;
    cursor: pointer;
}

.button-beige:hover {
    background-color: transparent;
    color: var(--font-color-primary);
    border: 2px solid var(--font-color-primary);
}
.button-black {
    background-color: var(--font-color-secondary);
    border: 0px;
    width: 7rem;
    padding: 0.3rem 0.5rem;
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin: 0rem 0;
    border: 2px solid transparent;
    cursor: pointer;
}

.button-black:hover {
    background-color: transparent;
    color: var(--font-color-secondary);
    border: 2px solid var(--font-color-secondary);
}
  .arrow {
    animation: moveArrow 1.2s ease-in-out infinite;
  }
  
  @keyframes moveArrow {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(6px);
    }
    100% {
      transform: translateX(0);
    }
  }
  

.no-prod-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.headline {
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2rem;
}

.text {
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
}

.text a {
    cursor: pointer;
    color: var(--font-color-primary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
}

.cart-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
}

.line {
    width: 100%;
    border-bottom: 0.25px solid var(--font-color-paragraph);
}

.title-container {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
}

.number {
    color: var(--font-color-primary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    text-decoration: underline;
    font-weight: 400;
    line-height: 1.7rem;
}

.products-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-item {
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 0;

}

.img-name-container {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}

.img-name-container img {
    cursor: pointer;
    width: 9rem;
    height: 9rem;
}

.name {
    cursor: pointer;
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.7rem;
}

.name:hover {
    color: var(--font-color-primary);
}

.product-actions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.action-button {
    cursor: pointer;
    background: none;
    border: 0;
    color: var(--font-color-primary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
    text-decoration: underline;
}

.price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.price-container svg,
.price-container path {
    width: 1rem;
    height: 1rem;
    fill: red;
    cursor: pointer;
}

.price {
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
}

.action-buttons-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loader-container {
    text-align: center;
    padding: 2rem;
}

.loader-text {
    font-size: 1.2rem;
    color: #777;
}


@media (min-width: 451px) and (max-width: 768px) {

    .hero {
        height: 25vh;
    }

    .hero-title {
        font-size: 1.5rem;
    }

    /* most buttons style */
    .button-beige {
        gap: 7px;
        font-size: 0.925rem;
        padding: 0.5rem 1rem;
    }
    .arrow{
        width: 1.25rem;
    }
    .button-black {
        font-size: 0.925rem;
    }

    .headline {
        font-size: 1.7rem;
    }

    .text {
        font-size: 0.925rem;
    }

    .text a {
        font-size: 0.925rem;
    }

    .cart-container {
        width: 90vw;
        margin: 3rem 0;
    }

    .title {
        font-size: 1rem;
    }

    .number {
        font-size: 0.925rem;
    }

    /* to move the middle div below div1 and div3 */
    .product-item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        /* Allow items to wrap in smaller screens */
        margin: 1rem 0;
    }

    .img-name-container,
    .price-container {
        width: 50%;
        /* Ensure div1 and div3 stay in the same row */
        display: flex;
    }

    .img-name-container {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 1rem;
    }

    .img-name-container img {
        width: 7rem;
        height: 7rem;
    }

    .name {
        font-size: 0.925rem;
    }

    .product-actions-container {
        margin-top: 1rem;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0rem;
        order: 1;
        /* Move div2 below div1 and div3 */
    }

    .action-button {
        font-size: 0.925rem;
    }

    .price {
        font-size: 0.925rem;
    }

}

@media (min-width: 0px) and (max-width: 450px) {

    .hero {
        height: 22vh;
    }

    .hero-title {
        font-size: 1.4rem;
    }

    /* most buttons style */
    .button-beige {
        gap: 5px;
        padding:0.25rem 0.5rem ;
        text-align: center;
        font-size: 0.85rem;
    }
    .arrow{
        width: 1.1rem;
    }
    .button-black {
        width: 6rem;
        text-align: center;
        font-size: 0.85rem;
    }

    .headline {
        font-size: 1.4rem;
    }

    .text {
        font-size: 0.85rem;
    }

    .text a {
        font-size: 0.85rem;
    }

    .cart-container {
        width: 90vw;
        margin: 2rem 0;
    }

    .title {
        font-size: 0.925rem;
    }

    .number {
        font-size: 0.85rem;
    }

    .product-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
        margin: 0.8rem 0;

    }

    .img-name-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 1rem;
    }

    .img-name-container img {
        width: 6rem;
        height: 6rem;
    }

    .name {
        font-size: 0.85rem;
    }

    .product-actions-container {
        margin-top: 0.5rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
    }

    .action-button {
        font-size: 0.85rem;
    }

    .price-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .price-container svg,
    .price-container path {
        width: 1rem;
        height: 1rem;
        fill: red;
        cursor: pointer;
    }

    .price {
        font-size: 0.85rem;
    }

    .action-buttons-container {
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

}