<app-header></app-header>

<section class="hero">
    <div class="hero-container">
        <p class="hero-title">{{ 'LOGIN.HERO' | translate }}</p>  
    </div>
</section>

<section id="login" class="login">
    <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">

        <div class="login-container">
        
            <p class="login-title">{{ 'LOGIN.LOGIN' | translate }}</p>

            <label for="emailaddress">{{ 'LOGIN.EMAIL' | translate }}</label>
            <input id="emailaddress" type="email" placeholder="{{ 'LOGIN.EMAIL' | translate }}"
            formControlName="email">

            <label for="password">{{ 'LOGIN.PASSWORD' | translate }}</label>
            <input id="password" [type]="showPassword ? 'text' : 'password'" placeholder="{{ 'LOGIN.PASSWORD' | translate }}"
            formControlName="password">
            <button type="button" (click)="togglePasswordVisibility()">Show/Hide</button>
            <span *ngIf="Lreason" style="color: red;">{{ Lreason }}</span>

            <button type="submit" class="button-beige" >{{ 'LOGIN.SIGNIN' | translate }}</button>
            <p class="forgot-password">{{ 'LOGIN.FORGOT-PASSWORD' | translate }}</p>
            <p class="signup-text">{{ 'LOGIN.SIGNUP-QUESTION' | translate }}</p>
            <a routerLink="/signup"><p class="signup-link">{{ 'LOGIN.SIGNUP-LINK' | translate }}</p></a>
        </div>
    </form>
</section>


<app-footer></app-footer>