section{
    margin: 0 0;
}
article {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero{
    display: flex;
    align-items: center; /* Centers items vertically */
    height: 30vh; 
    width: 100%;
    /* height: 30rem; */
    background: url('https://old-souqs.sirv.com/Banners/DSC00272.jpg') lightgray 50% / cover no-repeat;
}
.hero-container{
    margin:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container span{
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
}
.hero-title{
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}
.edit-profile-page{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 5rem 0;
}

.title{
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    margin: 1rem 0;
}

.button-container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
}
.to-profile{
    cursor: pointer;
    color: var(--font-color-primary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    border: 0;
    background: none;
    text-decoration: underline;
}

.grid-container{
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 2.5rem;
    margin: 1rem 0;
}
.grid-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}
label{
    text-align: left;
    width: 90%;
    margin-top: 0.75rem;
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
}
input{
    text-align: left;
    width: 95%;
    height: 2.25rem;
    border: 0;
    margin: 0.75rem 0;
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    padding: 0.5rem 0.75rem;
    /* background: var(--background-color-body); */
}

.update-container{
    width: 80vw;
    text-align: right;
}

.button-beige{
    background-color: var(--font-color-primary);
    border: 0px;
    padding: 0.75rem 1.25rem;
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    margin: 1rem 0;
    border: 2px solid transparent;
    cursor: pointer;
}

.button-beige:hover{
    background-color: transparent;
    color: var(--font-color-primary);
    border: 2px solid var(--font-color-primary);
}

@media (min-width: 451px) and (max-width: 768px) {
  
    .hero{
        height: 25vh; 
     }
   
    .hero-title{
        font-size: 1.5rem;
    }
    .edit-profile-page{
        margin: 3rem 0;
    }
    
    .title{
         font-size: 1.6rem;
    }
    
   
    .to-profile{
        font-size: 0.925rem;
    }
    
    label{
         font-size: 0.925rem;
    }
    input{
        height: 2rem;
        font-size: 0.925rem;
    }
    
   
    .button-beige{
        font-size: 0.925rem;
        margin: 0.5rem 0;
    }
    
    .button-beige:hover{
        background-color: transparent;
        color: var(--font-color-primary);
        border: 2px solid var(--font-color-primary);
    }
    
    
}
@media (min-width: 0px) and (max-width: 450px) {
  
    .hero{
        height: 22vh; 
    }

    .hero-title{
        font-size: 1.2rem;
    }
    .edit-profile-page{
        margin: 2rem 0;
    }
    
    .title{
        font-size: 1.25rem;
        margin: 0.25rem 0;
    }
  
    .to-profile{
        margin-left: -1.1rem;
        text-align: left;
        font-size: 0.85rem;
    }
    
    .grid-container{
        width: 88vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
        margin: 0.25rem 0;
    }
    .grid-item{
        width: 100%;
    }
    label{
        font-size: 0.85rem;
    }
    input{
        width: 90%;
        height: 1.75rem;
        font-size: 0.85rem;
    }
    
    .update-container{
        width: 84vw;
        text-align: right;
    }
    
    .button-beige{
        padding: 0.5rem 1rem;
        font-size: 0.85rem;
        margin: 0.25rem 0;
    }
    
}