section{
    margin: 0 0;
}
.hero{
    display: flex;
    align-items: center; /* Centers items vertically */
    height: 30vh; 
    width: 100%;
    /* height: 30rem; */
    background: url(../../assets/create-account-hero.jpg) lightgray 50% / cover no-repeat;
}
.hero-container{
    margin:0 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container span{
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
}
.hero-title{
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

/* most buttons style */
.button-beige{
    background-color: var(--font-color-primary);
    border: 0px;
    padding: 0.75rem 1.25rem;
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    margin: 2rem 0;
    border: 2px solid transparent;
    cursor: pointer;
}

.button-beige:hover{
    background-color: transparent;
    color: var(--font-color-primary);
    border: 2px solid var(--font-color-primary);
}

/* contacts style */
.contacts-container{ /*all contacts */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin: 5rem 0;
}
.contact-item{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 1rem;
}
.contact-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    border: 0.5rem solid var(--extra-color-body);
}
.contact-icon svg, .contact-icon path{
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--font-color-primary);
} 
.contact-info{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:space-between;
}
.contact-title{
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: -0.4rem;
    letter-spacing: -0.045rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    width: 80vw;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* headline and paragraphs */
.headline{
    color: var(--font-color-secondary);
    margin:1.5rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -0.045rem;
}

.marcellus-font{
    font-family: var(--font-custom-stack-other);
    font-weight: 400;
    margin-top: -1rem;
    margin-bottom: 2rem;
}
.text{
    color: var(--font-color-paragraph);
    margin:0.75rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
}
/* form style */

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 4rem 0;
}
.input-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.input-form label{
    color: var(--font-color-secondary);
    margin:0.2rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
}

.input-form input{
    text-align: left;
    width: 90%;
    height: 2.25rem;
    border: 0;
    margin: 0.75rem 0;
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    padding: 0.5rem 0.75rem;
}
.input-form textarea{
    resize: none;
    text-align: left;
    width: 95%;
    height: 8rem;
    border: 0;
    margin: 0.75rem 0;
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    padding: 0.5rem 0.75rem;
}

@media (min-width: 769px) and (max-width: 1024px) {
  
    /* contacts style */
    .contacts-container{ /*all contacts */
        gap: 2rem;
    }
    
    .grid-container {
       width: 90vw;
    }
}

@media (min-width: 451px) and (max-width: 768px) {
    .hero{
        height: 25vh; 
    }
    .hero-title{
        font-size: 1.6rem;
    }
    /* most buttons style */
    .button-beige{
        font-size: 0.925rem;
        margin: 1.5rem 0;
    }

    /* contacts style */
   
    .contacts-container{ /*all contacts */
       justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        margin: 4rem 6rem 4rem 3rem;
    }
   
    .contact-icon{
        width: 3.5rem;
        height: 3.5rem;
    }
    .contact-icon svg, .contact-icon path{
        width: 1.25rem;
        height: 1.25rem;
    } 
    
    .contact-title{
        font-size: 1rem;
        margin-bottom: -0.2rem;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px;
        width: 90vw;
    }
    
    /* headline and paragraphs */
    .headline{
        margin:1.25rem 0;
        font-size: 1.6rem;
        line-height: 2.5rem;
    }
    
    .text{
        margin:0.5rem 0;
        font-size: 0.925rem;
    }
    /* form style */
    
    .contact-form{
        margin: 3rem 0;
    }
  
    .input-form label{
        font-size: 0.925rem;
    }
    
    .input-form input{
        height: 2rem;
        font-size: 0.925rem;
    }
    .input-form textarea{
        height: 7rem;
        font-size: 0.925rem;
    }

}

@media (min-width: 0px) and (max-width: 450px) {
    .hero{
        height: 20vh; 
    }
    .hero-title{
        font-size: 1.2rem;
    }
    /* most buttons style */
    .button-beige{
        font-size: 0.8rem;
        margin: 1rem 0;
    }

    /* contacts style */
   
    .contacts-container{ /*all contacts */
       justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin: 4rem 6rem 4rem 3rem;
    }
   
    .contact-icon{
        width: 3rem;
        height: 3rem;
    }
    .contact-icon svg, .contact-icon path{
        width: 1.1rem;
        height: 1.1rem;
    } 
    
    .contact-title{
        font-size: 0.9rem;
        margin-bottom: -0.2rem;
    }
    
    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90vw;
    }
    
    .grid-part {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    /* headline and paragraphs */
    .headline{
        margin:-0.2rem 0;
        font-size: 1.2rem;
        line-height: 2rem;
    }
    
    .text{
        margin:0.5rem 0;
        font-size: 0.9rem;
    }
    /* form style */
    
    .contact-form{
        margin: 2rem 0;
    }
  
    .input-form{
        width: 100%;
    }
    .input-form label{
        font-size: 0.85rem;
    }
    
    .input-form input{
        width: 92%;
        height: 1.5rem;
        font-size: 0.85rem;
    }
    .input-form textarea{
        width: 92%;
        height: 5rem;
        font-size: 0.85rem;
    }
    .title-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}    