section{
    margin: 0 0;
}
.hero{
    display: flex;
    align-items: center; /* Centers items vertically */
    height: 30vh; 
    width: 100%;
    /* height: 30rem; */
    background: url(../../assets/create-account-hero.jpg) lightgray 50% / cover no-repeat;
}
.hero-container{
    margin:0 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container span{
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
}
.hero-title{
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

/* most buttons style */
.button-beige{
    background-color: var(--font-color-primary);
    border: 0px;
    padding: 0.75rem 1.25rem;
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    margin: 2rem 0;
    border: 2px solid transparent;
    cursor: pointer;
}

.button-beige:hover{
    background-color: transparent;
    color: var(--font-color-primary);
    border: 2px solid var(--font-color-primary);
}

/* contacts style */
.contacts-container{ /*all contacts */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin: 5rem 0;
}
.contact-item{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 1rem;
}
.contact-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    border: 0.5rem solid var(--extra-color-body);
}
.contact-icon svg, .contact-icon path{
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--font-color-primary);
} 
.contact-info{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:space-between;
}
.contact-title{
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: -0.4rem;
    letter-spacing: -0.045rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    width: 80vw;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* headline and paragraphs */
.headline{
    color: var(--font-color-secondary);
    margin:1.5rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -0.045rem;
}

.marcellus-font{
    font-family: var(--font-custom-stack-other);
    font-weight: 400;
    margin-top: -1rem;
    margin-bottom: 2rem;
}
.text{
    color: var(--font-color-paragraph);
    margin:0.75rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
}
/* form style */

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 4rem 0;
}
.input-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.input-form label{
    color: var(--font-color-secondary);
    margin:0.2rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
}

.input-form input{
    text-align: left;
    width: 90%;
    height: 2.25rem;
    border: 0;
    margin: 0.75rem 0;
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    padding: 0.5rem 0.75rem;
    /* background-color: var(--background-color-body); */
        /* border: 0.5px solid var(--font-color-paragraph); */

}
.input-form textarea{
    resize: none;
    text-align: left;
    width: 95%;
    height: 8rem;
    border: 0;
    margin: 0.75rem 0;
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    padding: 0.5rem 0.75rem;
    /* background-color: var(--background-color-body);
    border: 0.5px solid var(--font-color-paragraph); */

}