.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 18vw;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
  }
  
  .sidebar-header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px;
    border-bottom: 1px solid #333;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    /* border-radius: 50%; */
    object-fit: contain;
  }
  
  .site-name {
    /* color: var(--extra-color-body); */
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    color: #ff4040;
  }
  
  .sidebar-menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }
  
  .menu-item {
    cursor: pointer;
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    /* color: white; */
    transition: background-color 0.3s ease;
  }
  
  .menu-item:hover {
    background-color: #ff4040;
  }
  .active{
    background-color: #ff4040;
  }
  
  .sidebar-footer {
    font-family: var(--font-custom-stack-paragraph);
    text-align: center;
    font-size: 12px;
    color: #888;
    padding: 15px;
  }

 /* product section */
.main-content {
    margin-left: 18vw;
    padding: 20px;
    background-color: var(--extra-color-body);
    min-height: 100vh;
  }
  
  .add-product-btn {
    background-color: #ff4040;
    color: white;
    border: none;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    padding: 12px 20px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background 0.3s ease;
  }
  
  .add-product-btn:hover {
    background-color: black;
  }
  
  .products-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .product-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
  }
  
  .product-image {
    width: 11rem;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
  }
  
  .product-info {
    flex: 1;
  }
  
  .product-name {
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .product-price,
  .product-quantity,
  .product-description {
    font-family: var(--font-custom-stack-paragraph);
    margin: 4px;
    font-size: 1rem;
    line-height: 1.7rem;
  }
  
  .product-actions {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:end;
    gap: 10px;
  }
  
  .edit-btn,
  .delete-btn {
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    padding: 8px 12px;
    border: none;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .edit-btn {
    background-color: black;
    color: white;
  }
  
  .edit-btn:hover {
    background-color: #ff4040;
  }
  
  .delete-btn {
    background-color: #ff4040;
    color: white;
  }
  
  .delete-btn:hover {
    background-color: black;
  }
  .product-category-tag {
    display: inline-block;
    background-color: #ff4040;
    color: white;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 0.85rem;
    padding: 4px 8px;
    border-radius: 12px;
    margin-bottom: 6px;
  }
    

  
/*edit product Popup Styling */
.edit-popup {
    /* margin-left: 18vw; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  width: 58vw;
  z-index: 1000;
}
.headline{
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}  

.grid-two{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.grid-three{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.label-input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.2rem;
}
.label-input-container label{
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
}
.label-input-container input,
.label-input-container textarea,
.label-input-container select{
    width: 96%;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 0.925rem;
    font-weight: 400;
    font-style: normal;
}
.label-input-container textarea{
    width: 99%;
    height: 4rem;
    resize: none;
}
.popup-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-image-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.update-btn {
    margin: 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    width: 100%;
    background: #ff4040;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
}
.update-btn:hover{
    background: black;
}

/* add new product */
.add-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    width: 58vw;
    z-index: 1000;
  }
  
  .add-popup .headline {
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
  }
  
  .add-popup .grid-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  
  .add-popup .grid-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  
  .add-popup .label-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
  }
  
  .add-popup .label-input-container label {
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-weight: 400;
  }
  
  .add-popup .label-input-container input,
  .add-popup .label-input-container textarea,
  .add-popup .label-input-container select {
    width: 96%;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 0.925rem;
  }
  
  .add-popup .label-input-container textarea {
    width: 99%;
    height: 4rem;
    resize: none;
  }
  
  .add-popup .popup-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .add-popup .popup-image-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .add-popup .close-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .add-popup .add-btn {
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    background: #ff4040;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
  }
  
  .add-popup .add-btn:hover {
    background: black;
  }
  


  /* collection section */
  
  .add-collection-btn {
    background: #ff4040;
    font-family: var(--font-custom-stack-paragraph);
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 6px;
  }
  .add-collection-btn:hover{
    background: black;
  }
  .collection-wrapper {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
  }
  
  .collection-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    /* margin-bottom: 10px; */
  }
  
  .collection-name-input {
    width: auto;
    font-size: 1.1rem;
    font-family: var(--font-custom-stack-paragraph);
    font-weight: 700;
    font-style: normal;
    border: none;
    background-color: transparent;
    border-bottom: 1px dashed #ccc;
    padding: 5px;
    /* width: 50%; */
  }
  
  .collection-name-input:disabled {
    border: none;
    background: none;
    color: #333;
  }
  
  .collection-header button {
    font-family: var(--font-custom-stack-paragraph);
    font-weight: 400;
    font-style: normal;
    font-size: 0.925rem;
    color: white;
    border: 0;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
 
  .save-cancel-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .products-in-collection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }
  
  .collection-product {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 0.75rem;
  }
  
  .collection-product-img {
    width: 5.5rem;
    height: 5.5rem;
    object-fit: cover;
    border-radius: 6px;
  }
  
  .collection-product-info {
    font-family: var(--font-custom-stack-paragraph);
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
  }
  
  .expand-btn {
    font-family: var(--font-custom-stack-paragraph);
    font-weight: 400;
    font-style: normal;
    font-size: 1rem; 
    display: inline-block;
    color: #ff4040;
    cursor: pointer;
    font-weight: 500;
  }
  
  .no-products-msg {
    font-family: var(--font-custom-stack-paragraph);
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
    
    color: #888;
  }
  
  /* add new collection */
  .add-collection-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    width: 30vw;
    z-index: 1000;
  }
  
  .collection-popup-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
  }
  
  .collection-headline {
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .collection-input {
    font-family: var(--font-custom-stack-paragraph);
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .collection-add-btn {
    font-family: var(--font-custom-stack-paragraph);
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    padding: 10px;
    background: #ff4040;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .collection-add-btn:hover {
    background: black;
  }
  
  .collection-close-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  
  /* orders section */
.order-menu-container{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 1rem;
}
.order-title{
    font-family: var(--font-custom-stack-paragraph);
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
}
.date-menu{
    background: #f9f9f9;
    cursor: pointer;
    font-family: var(--font-custom-stack-paragraph);
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
}
option{
    background: #f9f9f9;

    cursor: pointer;
}

  .order-card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background: #f9f9f9;
  }
  .date-title{
    font-family: var(--font-custom-stack-paragraph);
    font-weight: 700;
    font-style: normal;
    font-size: 1.1rem;
  }
  .order-card p{
    font-family: var(--font-custom-stack-paragraph);
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1rem;
  }
  .info-button-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  .details-button{
    cursor: pointer;
    font-family: var(--font-custom-stack-paragraph);
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    background: none;
    color: #ff4040;
    border: none;
    text-decoration: underline;
  }

  .products-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .product-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    background: #fff;
    border: 1px solid #ddd;
    padding: 0.5rem;
    border-radius: 5px;
  }
  
  .product-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
  }
  

  /* discounts section */
  .discount-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30vw;
    background: white;
    padding: 20px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:1rem;
  }
 .discount-close-btn{
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
 }
 .label-select-container{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;
    width: 100%;
 }
 .label-select-container label{
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
 }
 .label-select-container select,
 .label-select-container input {
    width: 95%;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 0.925rem;
    font-weight: 400;
    font-style: normal;
  }
  .label-select-container select{
    cursor: pointer;
  }
  .invalid {
    border: 1px solid #ff4040;
    background-color: #ffcccc;
  }
  .existing-title{
    font-family: var(--font-custom-stack-paragraph);
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
  }
  .subtitle{
    font-family: var(--font-custom-stack-paragraph);
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
  }
  
  .discount-container{
    margin: 1rem 0;
    display: flex;
    border: 1px solid #ccc;
    background: #f9f9f9;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    border-radius: 5px;
  }
  .discount-container p{
    font-family: var(--font-custom-stack-paragraph);
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
  }
  .buttons-container{
    display: flex;
    gap: 1rem;
  }
  .delete-discount{
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    background: #ff4040;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
  }
  .delete-discount:hover{
    background: black;
  }
  .edit-discount{
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    background: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
  }
  .edit-discount:hover{
    background: #ff4040;
  }
  .show-in-tablet{
    display: none;
  }
  .black-btn{
    background: black;
  }
  .black-btn:hover{
    background: #ff4040;
  }
  .red-btn{
    background: #ff4040;
  }
  .red-btn:hover{
    background: black;
  }


@media (min-width: 451px) and (max-width: 768px) {
    .show-in-tablet{
        display: flex;
      }
    /* filter part style */
    .sidebar-box {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        overflow-y: scroll;
        height: 100vh; /* Full height of the viewport */
        overflow-y: auto; /* Enables vertical scrolling */
      }
      .sidebar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background:black;
        text-align: left;
        position: relative;
        width: 40vw;
        color: white;
        box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
       
    }
      
      .close-btn {
        position: absolute;
        top: 8px;
        right: 10px;
        background: none;
        border:0;
        font-size: 26px;
        font-weight: 600;
        cursor: pointer;
        color: #ff4040;
      }
    
      .site-name {
        font-size: 1.1rem;
      }
      
      .menu-item {
        font-size: 0.925rem;
      }
      .sidebar-footer {
        font-size: 0.75rem;
      }
    
     /* product section */
     .menu-container svg{
        width: 1.75rem;
        height: 1.75rem;
        margin-bottom: 1rem;
     }
    .main-content {
        margin-left: 0vw;
      }
      
      .add-product-btn {
        font-size: 0.925rem;
        padding: 10px 16px;
         margin-bottom: 1rem;
      }
     
      .product-card {
        gap: 20px;
        padding: 15px;
        flex-wrap: wrap;
  }
      
      .product-image {
        width: 25vw;
      }
      
      .product-info {
        flex: 1;
      }
      
      .product-name {
        width: 60vw;
        font-size: 1rem;
      }
      
      .product-price,
      .product-quantity,
      .product-description {
        font-size: 0.925rem;
      }
      
      .product-actions {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content:end;
        gap: 10px;
      }
      
      .edit-btn,
      .delete-btn {
        font-size: 0.925rem;
        padding: 6px 10px;
      }
    
      .product-category-tag {
       font-size: 0.8rem;
    }
      
    /*edit product Popup Styling */
    .edit-popup {
        height: 90vh;
        overflow-y: scroll;     
      width: 65vw;
    }
    .headline{
        font-size: 1.2rem;
    }  
    
    .label-input-container label{
        font-size: 0.925rem;
    }
    .label-input-container input,
    .label-input-container textarea,
    .label-input-container select{
        font-size: 0.85rem;
    }
    .label-input-container textarea{
        height: 3rem;
    }
  
    .close-btn {
      font-size: 14px;
    }
    
    .update-btn {
        font-size: 0.925rem;
    }
   
    /* add new product */
    .add-popup {
        width: 65vw;
        max-height: 90vh;
        overflow-y: scroll;
      }
      
      .add-popup .headline {
        font-size: 1.2rem;
      }
      
      .add-popup .label-input-container label {
        font-size: 0.925rem;
      }
      
      .add-popup .label-input-container input,
      .add-popup .label-input-container textarea,
      .add-popup .label-input-container select {
        font-size: 0.85rem;
      }
      
      .add-popup .label-input-container textarea {
        height: 3rem;
      }
      
      .add-popup .close-btn {
        font-size: 14px;
      }
      
      .add-popup .add-btn {
        font-size: 0.925rem;
      }
    
      /* collection section */      
      .add-collection-btn {
        font-size: 0.925rem;
        padding: 10px 15px;
        margin-bottom: 1rem;
      }

      .collection-wrapper {
        padding: 10px;
      }
      

      .collection-name-input {
        display: flex;
        flex-direction: column;
        width: auto;
        font-size: 1rem;
      }
     
      .collection-header button {
        font-size: 0.925rem;
      }
      
      .collection-product-img {
        width: 5.5rem;
        height: 5.5rem;
      }
      
      .collection-product-info {
        font-size: 0.85rem;
      }
      
      .expand-btn {
       font-size: 0.925rem; 
      }
      
      .no-products-msg {
        font-size: 0.925rem;
      }
      
      /* add new collection */
      .add-collection-popup {
        width: 40vw;
      }
    
      .collection-headline {
        font-size: 1.2rem;
      }
      
      .collection-input {
        font-size: 0.925rem;
      }
      
      .collection-add-btn {
        font-size: 0.925rem;
      }

      .collection-close-btn {
        font-size: 15px;
      }
      
      /* orders section */
    .order-title{
        font-size: 1.2rem;
    }
    .date-menu{
        font-size: 0.85rem;
    }
   
      .date-title{
        font-size: 1rem;
      }
      .order-card p{
        font-size: 0.925rem;
      }
     
      .details-button{
        font-size: 0.925rem;
      }
      
      .product-item img {
        width: 80px;
        height: 80px;
      } 
    
      /* discounts section */
      .discount-popup {
        width: 60vw;
      }
     .discount-close-btn{
       font-size: 1.2rem;
     }
    
     .label-select-container label{
        font-size: 0.925rem;
     }
     .label-select-container select,
     .label-select-container input {
        font-size: 0.85rem;        
      }
     
     
      .existing-title{
        font-size: 1.2rem;
      }
      .subtitle{
        font-size: 1rem;
      }
      
      
      .discount-container p{
        font-size: 0.925rem;
      }
     
      .delete-discount{
        font-size: 0.925rem;
      }
     
      .edit-discount{
        font-size: 0.925rem;
      }
}
@media (min-width: 0px) and (max-width: 450px) {
    .show-in-tablet{
        display: flex;
      }
    /* filter part style */
    .sidebar-box {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        overflow-y: scroll;
        height: 100vh; /* Full height of the viewport */
        overflow-y: auto; /* Enables vertical scrolling */
      }
      .sidebar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background:black;
        text-align: left;
        position: relative;
        width: 60vw;
        color: white;
        box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
    }
      
      .close-btn {
        position: absolute;
        top: 8px;
        right: 10px;
        background: none;
        border:0;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        color: #ff4040;
      }
    
      .site-name {
        font-size: 1rem;
      }
      
      .menu-item {
        font-size: 0.85rem;
      }
      .sidebar-footer {
        font-size: 0.7rem;
      }
      .menu-container svg{
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: 1rem;
     }
    
     /* product section */
    .main-content {
    margin-left: 0vw;
    padding: 15px;
  }
  
  .add-product-btn {
    font-size: 0.85rem;
    padding: 10px 18px;
    margin-bottom: 1rem;
  }
  .product-card{
    flex-wrap: wrap;
  }

  .product-image {
    width: 65vw;
  }
  
  .product-info {
    flex: 1;
  }
  
  .product-name {
    width: 57vw;
    font-size: 0.85rem;
  }
  
  .product-price,
  .product-quantity,
  .product-description {
    font-size: 0.85rem;
  }
  
  .product-actions {
    flex-direction: row;
  }
  
  .edit-btn,
  .delete-btn {
    font-size: 0.85rem;
    padding: 5px 8px;
  }
  
  .product-category-tag {
    background-color: #ff4040;
    font-size: 0.8rem;
    padding: 4px 7px;
  }
    

  
/*edit product Popup Styling */
.edit-popup {
    /* margin-left: 18vw; */
    padding: 10px;
  width: 85vw;
  height: 85vh;
    overflow-y: scroll;
}
.headline{
    font-size: 1rem;
}
.grid-two{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.grid-three{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}  
.label-input-container label{
    font-size: 0.85rem;
}
.label-input-container input,
.label-input-container textarea,
.label-input-container select{
    width: 88%;
    font-size: 0.8rem;
}
.label-input-container textarea{
    width: 97%;
    height: 3rem;
}

.popup-content {
    min-height: 85vh;
    overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-image-preview {
  width: 100px;
  height: 100px;
}

.close-btn {
  font-size: 12px;
}

.update-btn {
    font-size: 0.85rem;
}

/* add new product */
.add-popup {
    width: 85vw;
    height:85vh ;
    overflow-y: scroll;
  }
  .add-popup .popup-content {
    /* width: 85vw; */
    min-height:85vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .add-popup .headline {
    font-size: 1rem;
  }
  
  .add-popup .grid-two {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .add-popup .grid-three {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .add-popup .label-input-container label {
    font-size: 0.85rem;
  }
  
  .add-popup .label-input-container input,
  .add-popup .label-input-container textarea,
  .add-popup .label-input-container select {
    width: 96%;
    font-size: 0.8rem;
  }
  
  .add-popup .label-input-container textarea {
    width: 97%;
    height: 3rem;
  }
  
  .add-popup .close-btn {
    font-size: 12px;
  }
  
  .add-popup .add-btn {
   font-size: 0.85rem;
  }
  
  /* collection section */
  .add-collection-btn {
   font-size: 0.85rem;
    padding: 7px 10px;
    margin-bottom: 1rem;
  }
 
  .collection-wrapper {
    margin-bottom: 1rem;
    padding: 8px;
  }
  
  .collection-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap ;
    gap: 12px;
  }
  .collection-name-input-container{
    order: 1;
    width: 60%;
  }
  
  .collection-name-input {
    font-size: 0.925rem;
  }
  
  .collection-header button {
    order: 2;
    font-size: 0.85rem;
  }
 
  .save-cancel-container{
    order: 2;
    width: 100%;
  }
 
  .collection-product-info {
    font-size: 0.8rem;
  }
  
  .expand-btn {
    order: 1;
    width: 30%;
    text-align:right;
    margin-bottom: 1.75rem;
    font-size: 0.85rem; 
  }
  
  .no-products-msg {
    font-size: 0.85rem;
  }
  
  /* add new collection */
  .add-collection-popup {
    padding: 15px;
    width: 70vw;
  }
 
  .collection-headline {
    font-size: 1rem;
  }
  
  .collection-input {
   font-size: 0.85rem;
  }
  
  .collection-add-btn {
    font-size: 0.85rem;
  }
 
  /* orders section */

.order-title{
    font-size: 1rem;
}
.date-menu{
   font-size: 0.8rem;
}

  .date-title{
    font-size: 0.925rem;
  }
  .order-card p{
    font-size: 0.85rem;
  }
 
  .details-button{
    font-size: 0.85rem;
  }

  .product-item img {
    width: 90px;
    height: 90px;
  }
  
  /* discounts section */
  .discount-popup {
    width: 80vw;
  }
 
 .label-select-container label{
    font-size: 0.85rem;
 }
 .label-select-container select,
 .label-select-container input {
    width: 95%;
    font-size: 0.825rem;
  }
 
  .existing-title{
    font-size: 1rem;
  }
  .subtitle{
    font-size: 0.925rem;
  }
 
  .discount-container p{
    font-size: 0.85rem;
  }
 
  .delete-discount{
    font-size: 0.85rem;
  }
 
  .edit-discount{
    font-size: 0.85rem;
  }
 
}