<app-header></app-header>

<section id="content">
    <article class="hero">
        <div class="hero-container">
            <p class="hero-title">{{ 'PROFILE.HERO' | translate }}</p>    
        </div>
    </article>
    <article id="account">
        <div class="account-page">
            <p class="welcome-title">{{ 'PROFILE.WELCOME' | translate }}</p>
            <p class="user-name">{{userData.firstname}}  {{userData.lastname}}</p>

            <div class="account-info-grid">
                <div class="info-item">
                    <p class="subtitle">{{ 'PROFILE.MY-ACCOUNT' | translate }}</p>
                    <button (click)="goToWishlist()">{{ 'PROFILE.WISHLIST' | translate }}(4)</button>
                    <button (click)="goToEditProfile()">{{ 'PROFILE.EDIT-PROFILE' | translate }}</button>
                    <button (click)="Logout()">{{ 'PROFILE.LOGOUT' | translate }}</button>
                </div>
                <div class="line"></div>
                <div class="info-item">
                    <span class="subtitle">{{ 'PROFILE.ACCOUNT-DETAILS' | translate }}</span>
                    <span class="text">{{userData.firstname}}  {{userData.lastname}}</span>
                    <span class="text"> {{userData.email}}</span>
                    <span class="text">{{userData.address}}</span>
                </div>
            </div>

            <div class="order-history-container">
                <p class="subtitle">{{ 'PROFILE.ORDER-HISTORY' | translate }}</p>

                <div class="orders-container">
                    <p class="no-orders-text" *ngIf="getSortedOrders().length === 0">{{ 'PROFILE.NO-ORDERS' | translate }}</p>

                    <div *ngFor="let order of getSortedOrders()" class="order-card">
                        <div class="order-header">
                            <span>
                                <p><strong>{{ 'PROFILE.ORDER-ID' | translate }}: {{ order.orderId }}</strong></p>
                                <p>{{ 'PROFILE.DATE' | translate }}: {{ order.orderDate }}</p>
                                <p>{{ 'PROFILE.TOTAL' | translate }}: ${{ getTotalAmount(order).toFixed(2) }}</p>
                          
                            </span>
                          <button (click)="toggleDetails(order.orderId)">
                            {{ openOrders[order.orderId] ? 'Hide Details' : 'Show Details' }}
                          </button>
                        </div>
                      
                        <div *ngIf="openOrders[order.orderId]" class="order-details">
                          <div *ngFor="let item of order.productsIds" class="product-item">
                            <ng-container *ngIf="getProductDetails(item.id) as product">
                              <img [src]="product.image" alt="{{ product.nameEn }}" class="product-img" />
                              <div class="product-info">
                                <p><strong>{{ product.nameEn }} - {{ product.nameAr }}</strong></p>
                                <p>{{ 'PROFILE.PRICE' | translate }}: ${{ product.price }}</p>
                                <p>{{ 'PROFILE.QUANTITY' | translate }}: {{ item.quantity }}</p>
                                <p>{{ 'PROFILE.SUBTOTAL' | translate }}: ${{ (product.price * item.quantity).toFixed(2) }}</p>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                      
                </div>
            </div>
        </div>
    </article>

</section>    

<app-footer></app-footer>
