section{
    margin: 0 0;
}
article {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero{
    display: flex;
    align-items: center; /* Centers items vertically */
    height: 30vh; 
    width: 100%;
    /* height: 30rem; */
    background: url('https://old-souqs.sirv.com/Banners/DSC00272.jpg') lightgray 50% / cover no-repeat;
}
.hero-container{
    margin:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container span{
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
}
.hero-title{
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

/* account page style */
.account-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
}
.welcome-title{
    color: var(--font-color-primary);
    margin:1rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}
.user-name{
    color: var(--font-color-secondary);
    margin:1rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.7rem;
}
.account-info-grid{
    width: 80vw;
    border: 0.25px dotted var(--font-color-paragraph);
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem;
    margin: 2rem 0;
    padding:1rem 2rem;
}
.info-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.subtitle{
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.7rem;
    margin: 0.25rem 0;
}
.info-item button{
    cursor: pointer;
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
    border: 0;
    background: none;
    text-decoration: underline;
}
.text{
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
}
.order-history-container{
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}
.orders-container{
    width: 80vw;
    padding: 1rem 2rem;
    display: flex;
    border: 0.25px dotted var(--font-color-paragraph);
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}
.no-orders-text{
    color: red;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
}

/* order history */
.order-card {
    width: 97%;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin: 1rem 0;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  .order-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;

  }
  .order-header button {
    cursor: pointer;
    font-family: var(--font-custom-stack-paragraph);
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    background: none;
    color: var(--font-color-primary);
    border: none;
    text-decoration: underline;
  }
  
  .order-header span{
    font-family: var(--font-custom-stack-paragraph);
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1rem;
  }
  .order-details {
    /* margin-top: 1rem; */
    border-top: 1px dashed #999;
    padding-top: 1rem;
  }
  .product-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .product-img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 8px;
  }
  .product-info {
    /* flex: 1; */
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1rem;
  }
  .product-info p{
    line-height: 1.25rem;
    margin: 0.75rem 0;
  }
 
@media (min-width: 451px) and (max-width: 768px) {
   
    .hero{
       height: 25vh; 
     }
   
    .hero-container span{
        font-size: 1rem;
    }
    .hero-title{
         font-size: 1.5rem;
    }
    
    /* account page style */
    .account-page{
        margin: 3rem 0;
    }
    .welcome-title{
        font-size: 0.925rem;
    }
    .user-name{
        margin:1rem 0;
        font-size: 1.6rem;
    }
   
    .subtitle{
         font-size: 0.925rem;
    }
    .info-item button{
         font-size: 0.925rem;
    }
    .text{
        font-size: 0.925rem;
    }
   
    .no-orders-text{
         font-size: 0.925rem;
    }
    .order-history-container{
        width: 88vw;
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        gap: 1rem;
        margin: 2rem 0;
        padding:0rem 0rem;
    }
    .orders-container{
        width: 95%;
    padding: 1rem 1rem;
    align-items: center;
    justify-content: center;
    }
    
/* order history */
  .order-header button {
    font-size: 0.925rem;
  }
  .order-header span{
    font-size: 0.925rem;
  }
 
  .product-img {
    width: 90px;
    height: 90px;
  }
  .product-info {
    font-size: 0.925rem;
  }
  .product-info p{
    line-height: 1.2rem;
    margin: 0.5rem 0;
  }
  
}
@media (min-width: 0px) and (max-width: 450px) {
   
    .hero{
        height: 22vh; 
    }
   
    .hero-title{
         font-size: 1.3rem;
    }
    
    /* account page style */
    .account-page{
         margin: 2rem 0;
    }
    .welcome-title{
        margin:0.5rem 0;
        font-size: 0.925rem;
    }
    .user-name{
        margin:0.5rem 0;
        font-size: 1.35rem;
    }
    .account-info-grid{
        width: 85vw;
        border: 0.25px dotted var(--font-color-paragraph);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        margin: 1rem 0;
        padding:0.75rem 0.75rem;
    }
    .line{
        width: 100%;
        margin: 0.1rem 0;
        border-bottom: 0.25px solid var(--font-color-paragraph);
      }
    
  
    .subtitle{
       font-size: 0.85rem;
    }
    .info-item button{
        font-size: 0.85rem;
    }
    .text{
        font-size: 0.85rem;
    }
  
    .no-orders-text{
        font-size: 0.85rem;
    }

    .order-history-container{
        width: 88vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        margin: 2rem 0;
        padding:0rem 0rem;
    }
    .orders-container{
        width: 95%;
    padding: 0.75rem 0.75rem;
    align-items: center;
    justify-content: center;
    }
    .order-card {
        width: 90%;
        border: 1px solid #ccc;
        border-radius: 12px;
        margin: 1rem 0;
        padding: 0.5rem;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      }
    
/* order history */
  .order-header button {
    font-size: 0.85rem;
  }
  .order-header span{
    font-size: 0.85rem;
  }
 
  .product-img {
    width: 80px;
    height: 80px;
  }
  .product-info {
    font-size: 0.85rem;
  }
  .product-info p{
    line-height: 1.2rem;
    margin: 0.5rem 0;
  }

}