<app-header></app-header>

<section id="content">
    <article class="hero">
        <div class="hero-container">
            <p class="hero-title">{{ 'PROFILE.HERO' | translate }}</p>    
        </div>
    </article>
    <article class="password-article">
        <form>

            <div class="password-container">
            
                <p class="password-title">Forgot password</p>
    
                <label for="emailaddress">Email address</label>
                <input id="emailaddress" type="email" placeholder="Email address">
                <!-- for reason -->
                <span  class="reason-text" ></span>
    
                <button type="submit" class="button-beige" >Submit</button>
                <p routerLink="/login" class="cancel">Cancel</p>
            </div>
        </form>
    </article>
</section>

<app-footer></app-footer>