<app-header></app-header>

<section id="content">
    <article class="hero">
        <div class="hero-container">
            <p class="hero-title">{{ 'PASSWORD.HERO' | translate }}</p>    
        </div>
    </article>
    <article class="password-article">
        <form>

            <div class="password-container">
            
                <p class="password-title">{{ 'PASSWORD.FORGOT-PASSWORD' | translate }}</p>
    
                <label for="emailaddress">{{ 'PASSWORD.EMAIL' | translate }}</label>
                <input id="emailaddress" type="email" placeholder="{{ 'PASSWORD.EMAIL' | translate }}">
                <!-- for reason -->
                <span  class="reason-text" ></span>
    
                <button type="submit" class="button-beige" >{{ 'PASSWORD.SUBMIT' | translate }}</button>
                <p routerLink="/login" class="cancel">{{ 'PASSWORD.CANCEL' | translate }}</p>
            </div>
        </form>
    </article>
</section>

<app-footer></app-footer>