section{
    margin: 0 0;
}
article {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero{
    display: flex;
    align-items: center; /* Centers items vertically */
    height: 30vh; 
    width: 100%;
    /* height: 30rem; */
    background: url('https://old-souqs.sirv.com/Banners/DSC00272.jpg') lightgray 50% / cover no-repeat;
}
.hero-container{
    margin:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container span{
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
}
.hero-title{
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

/* most buttons style */
.button-beige{
    background-color: var(--font-color-primary);
    border: 0px;
    padding: 0.75rem 1.25rem;
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    margin: 2rem 0;
    border: 2px solid transparent;
    cursor: pointer;
}

.button-beige:hover{
    background-color: transparent;
    color: var(--font-color-primary);
    border: 2px solid var(--font-color-primary);
}


/* section 1 : grid style */
/* 
.about-intro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
} */


/* headline and paragraphs */
.headline{
    color: var(--font-color-secondary);
    margin:0.5rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -0.045rem;
}

.marcellus-font{
    font-family: var(--font-custom-stack-other);
    font-weight: 400;
    margin-top: -1rem;
    margin-bottom: 2rem;
}
.text{
    color: var(--font-color-secondary);
    margin:0.75rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
}

/* page style */
.page-container{
    width: 82vw;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 1rem;
    margin: 5rem 0;
}

/* filter part style */
.filters-container-box{
    width: 100%;
}
.filters-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* categories style */
.filter-item-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    width: 100%;
}
.category-item{
    display: flex;
    align-items: center;
    justify-content: center;
}



input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    background: var(--extra-color-body);
  }
  
  input[type="checkbox"]:checked {
    position: relative;
  }
  
  input[type="checkbox"]:checked::after {
    content: "✔";
    position: absolute;
    top: -2px;
    left: 2px;
    color: var(--font-color-primary);
    font-size: 12px;
    font-weight: bold;
  }
  
  label {
    cursor: pointer;
    transition: color 0.3s ;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    color: var(--font-color-secondary);
    font-weight: 400;
    font-style: normal;
    padding: 5px;
    user-select: none;
  }
  
  label:hover,
  label.checked {
    color: var(--font-color-primary);
    font-weight: bold;
  }
  
  
  .category-info{
    width: 16vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* hr */
  .line{
    width: 100%;
    margin: 1rem 0;
    border-bottom: 0.25px solid #aaa;
  }
  /* filter section styles */
.filter-buttons-container{
    width: 100%;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-wrap: wrap;
}
.filter-button{
    padding: 0 0.75rem;
    height: 1.5rem;
    text-align: center;
    border: 0;
    background: var(--font-color-primary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 0.85rem;
    font-weight: 400;
    font-style: normal;
    color: var(--extra-color-body);
}

  /*availability section style  */
.reset-button{
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    color: var(--font-color-paragraph);
    border: 0;
    text-decoration: underline;
    background: none;
    cursor: pointer;
}
.text-container{
    width: 20vw;
    display: flex;
    justify-content: space-between;
}

/* price section style */

.slider-container {
    width: 100%;
  }
  
  .range-slider {
    position: relative;
    /* width: 300px; */
    margin: 0 0;
    height: 3px;
    /* background: var(--font-color-primary); */
  }
  
  .range-slider input {
    position: absolute;
    width: 100%;
    height: 3px;
    margin: 0 0;
    appearance: none;
    background: var(--font-color-primary);
    pointer-events: none;
  }
  
  .range-slider input::-webkit-slider-thumb {
    appearance: none;
    width: 7px;
    height: 15px;
    background: var(--font-color-primary);
    /* border-radius: 50%; */
    cursor: pointer;
    pointer-events: auto;
  }
  
  .inputs-container{
    width: 100%;
    display: flex;
    align-items: stretch;
    gap: 0.6rem;
    justify-content: space-between;
  }
  .price-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

  }
  .subtitle{
    color: var(--font-color-paragraph);
    margin:0;
    margin-top: 0.75rem;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;

  }
  .dollar-input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--extra-color-body);

  }
  .dollar-container{
    width: 2rem;
    height: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
    margin: 0;
    background: none;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 400;
    /* background: var(--extra-color-body); */

  }
  .price-input {
    width: 5rem;
    height: 2rem;    
    text-align: right;
    margin: 0;
    border: 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 400;
    background: none;
    /* background: var(--extra-color-body); */

  }
  .minus{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom:0.6rem ;
  }

/* products section style */
.products-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:start;
    width: 75%;
}
.products-hero{
    display: flex;
    align-items: center; /* Centers items vertically */
    height: 45vh; 
    width: 100%;
    /* height: 30rem; */
    background: url('https://old-souqs.sirv.com/Banners/DSC00279.jpg') lightgray 50% / cover no-repeat;
}
.display-sort-container{
    width: 100%;
    margin:  0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-icon-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.list-icon-svg-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.list-icon-container svg, .list-icon-container path{
    width: 1rem;
    height: 1rem;
    /* fill: var(--font-color-secondary); */
    cursor: pointer;
}
.change-color{
    fill: var(--font-color-primary);
}
.list-icon button{
    border: 0;
    background: none;
}

.sort-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sort-title{
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.045rem;
}

#dropdown {
    width: 200px;
    padding: 5px;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.045rem;
    background: none;
    border: 0;
  }
  #dropdown option{
    background: var(--extra-color-body);
  }
  
  .selected {
    background: var(--background-color-body);
    color: var(--font-color-primary);
  }

/* display products style as grid */ 
  
.grid-product-list{
    width: 100%;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.active{
    fill: var(--font-color-primary);
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 17vw;
    background: var(--extra-color-body);
    position: relative;
}
.item img{
    width: 100%;
    height:19rem;
}
.item-name{
    color: var(--font-color-secondary);
    margin:1rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.8rem;
}
.item-name:hover{
    color: var(--font-color-primary);
    cursor: pointer;
}
.item-price{
    color: var(--font-color-primary);
    margin:-1rem 0 2rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
}

/* product actions styles */
.product-actions{
    /* same as height of item class */
    height: 19rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.quick-wishlist-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.quick-wishlist{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 3rem;
    background: var(--extra-color-body);
    cursor: pointer;
}
.quick-wishlist svg, .quick-wishlist path{
    width: 1rem;
    height: 1rem;
}

.quick-wishlist:hover{
    background: var(--font-color-primary);
}
.quick-wishlist:hover svg, .quick-wishlist:hover path{
    fill: var(--extra-color-body); /* Default color */
}
.right-border{
    border-right: 1px solid #ddd;
}
.add-to-cart-button{
    width: 10rem;
    background: var(--font-color-primary);
    text-align: center;
    font-family: var(--font-custom-stack-paragraph);
    color: var(--extra-color-body);
    cursor: pointer;
}
.add-to-cart-button:hover{
    background-color: var(--font-color-secondary);
}

.dis-none{
    display: none;
}
.dis-block{
    display: block;
}


/* ul list style */

.ul-product-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    gap: 2rem;
}

.item-list {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    background: var(--extra-color-body);
    position: relative;
}

.prod-img {
    /* border: 1px solid black; */
    width: 35%;
    height: 100%; /* Ensure this is set */
    display: flex; /* Helps in maintaining aspect ratio */
    align-items: center; 
    justify-content: center; 
    overflow: hidden; /* Prevents overflow issues */
}

.item-list img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the container completely */
}

.product-content{
    width: 59%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding: 1rem 1rem 2rem 1rem;
}
.description{
    color: var(--font-color-secondary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
}
.price-ul{
    color: var(--font-color-primary);
    margin:0 0 1rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
}
.product-actions-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.quick-wishlist-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 3rem;
    background: var(--background-color-body);
    cursor: pointer;
}
.quick-wishlist-ul svg, .quick-wishlist-ul path{
    width: 1rem;
    height: 1rem;
    fill: var(--font-color-paragraph);
}

.quick-wishlist-ul:hover{
    background: var(--font-color-primary);
}
.quick-wishlist-ul:hover svg, .quick-wishlist-ul:hover path{
    fill: var(--extra-color-body); /* Default color */
}
.add-to-cart-button-ul{
    width: 8rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
    background: var(--font-color-primary);
    font-family: var(--font-custom-stack-paragraph);
    color: var(--extra-color-body);
    cursor: pointer;
}
.add-to-cart-button-ul:hover{
    background-color: var(--font-color-secondary);
}
.show-in-tablet{
    display: none;
}
.hide-in-tablet{
    display: flex;
}
@media (min-width: 769px) and (max-width: 1024px) {
    .price-input {
        width: 3.5rem;
      }
      .grid-product-list{
       
        justify-content: space-around;
    }
}
@media (min-width: 451px) and (max-width: 768px) {
    .hero{
        height: 25vh; 
    }

    .hero-title{
       font-size: 1.5rem;
    }
    
    /* most buttons style */
    .button-beige{
        padding: 0.5rem 1rem;
        font-size: 0.925;
        margin: 1rem 0;
    }

    /* headline and paragraphs */
    .headline{
       font-size: 1rem;
       margin: 0.25rem 0;
       line-height: 1.7rem;
    }
    .text{
        margin:0.5rem 0;
        font-size: 0.925rem;
    }
    .show-in-tablet{
        display: flex;
    }
    .hide-in-tablet{
        display: none;
    }
    
    /* page style */
    .page-container{
        width: 90vw;
        gap: 1rem;
        margin: 3rem 0;
    }
    .filters-container-box{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        justify-content: left;
        align-items: flex-start;
        z-index: 1000;
        overflow-y: scroll;
        height: 100vh; /* Full height of the viewport */
        overflow-y: auto; /* Enables vertical scrolling */
    }
 
    /* filter part style */
    .filters-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--background-color-body);
        padding: 15px;
        text-align: left;
        position: relative;
        width: 30vw;
    }

    .close-btn {
        position: absolute;
        top: 8px;
        right: 12px;
        background: none;
        border:0;
        font-size: 22px;
        cursor: pointer;
        color: var(--font-color-secondary);
      }
    .close-btn:hover{
        color: var(--font-color-primary);
    }
    
  
    
    input[type="checkbox"] {
        width: 16px;
        height: 16px;
      }

      label {
       font-size: 0.9rem;
      }
      .category-info{
        width: 24vw;
      }
    
      /* hr */
      .line{
        width: 100%;
        margin: 1rem 0;
        border-bottom: 0.25px solid #aaa;
      }
      /* filter section styles */
   
    .filter-button{
        font-size: 0.8rem;
    } 
    
      /*availability section style  */
    .reset-button{
        font-size: 0.8rem;
    }
    .text-container{
        width: 30vw;
    }
    
    /* price section style */
    
      .range-slider {
        height: 2.5px;
      }
      
      .range-slider input {
        height: 2.5px;
      }
      
      .range-slider input::-webkit-slider-thumb {
        width: 6px;
      }
     
      .subtitle{
        margin-top: 0.75rem;
        font-size: 0.7rem;
    }
     
      .dollar-container{
        width: 3vw;
        height: 3vw;
        font-size: 0.8rem;
      }
      .price-input {
        width: 8vw;
        height: 1.75rem;   
        padding-right: 7px; 
         font-size: 0.8rem;
      }
     
    /* products section style */
    .products-container{
        width: 100%;
    }
    .products-hero{
       height: 40vh; 
    }
   
    .filter-svg{
        color: var(--font-color-secondary);
        font-family: var(--font-custom-stack-paragraph);
        font-size: 0.925rem;
        font-style: normal;
        font-weight: 700;
    }
    .vertical-line{
        margin-left: 1rem;
        height: 100%;
        border-right:1px solid #aaa;
    }
   
    .list-icon-container svg, .list-icon-container path{
        width: 0.925rem;
        height: 0.925rem;
    }
   
    .sort-title{
         font-size: 0.925rem;
    }
    
    #dropdown {
        width: 20vw;
        font-size: 0.925rem;
      }
      
    /* display products style as grid */ 
      
    .grid-product-list{
        width: 100%;
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .active{
        fill: var(--font-color-primary);
    }
    
    .dis-none{
        display: none;
    }
    .dis-block{
        display: block;
    }
    
    .item{
        width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--extra-color-body);
        position: relative;
        height: auto;
    }
    .item img{
        width: 100%;
        height:auto;
        object-fit: contain;
    }
    .item-name{
        margin:0.5rem 0 0 0;
        font-size: 0.925rem;
        text-align: center;
        font-weight: 600;
    }
    .item-price{
        margin:0rem 0 1rem 0;
        font-family: var(--font-custom-stack-paragraph);
        font-size: 0.925rem;
        font-weight: 600;

    }
    /* product actions styles */
    .product-actions{
        height: auto; 
        gap: 0rem;
    }
    .quick-wishlist-container{
        display: flex;
        width: 30vw;
        align-items: center;
        justify-content: center;
        gap: 0;
        margin-bottom: 1rem;
    }
    .quick-wishlist{
        width: 6vw;
        height: 6vw;
        background: var(--background-color-body);
    }
    .quick-wishlist svg, .quick-wishlist path{
        width: 0.9rem;
        height: 0.9rem;
        fill: var(--font-color-paragraph);
    }
    .right-border{
        border-right: 0;
    }
    .add-to-cart-button{
        width: 6vw;
        height: 6vw;
        background: var(--font-color-primary);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .add-to-cart-button svg{
        width: 0.925rem;
        height: 0.925rem;
        fill: var(--extra-color-body);
    }
    
    /* ul list style */
    
    .ul-product-list{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        flex-direction: column;
        gap: 2rem;
    }
    
    .item-list {
        display: flex;
        align-items: center;
        justify-content: left;
        flex-direction: row;
        width: 100%;
        gap: 1rem;
        background: var(--extra-color-body);
        position: relative;
    }
    
    .prod-img {
        /* border: 1px solid black; */
        width: 40%;
        height: 100%; /* Ensure this is set */
        display: flex; /* Helps in maintaining aspect ratio */
        align-items: center; 
        justify-content: center; 
        overflow: hidden; /* Prevents overflow issues */
    }
    
    .item-list img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures the image fills the container completely */
    }
    
    .product-content{
        width: 60%;
    }
    .description{
        font-size: 0.875rem;
    }
    .price-ul{
        margin:0 0 0.5rem 0;
        font-size: 0.925rem;
    }
    .product-actions-ul{
        margin-top: 0.5rem;
    }
    
    .quick-wishlist-ul{
        width: 6vw;
        height: 6vw;
    }
    .quick-wishlist-ul svg, .quick-wishlist-ul path{
        width: 0.925rem;
        height: 0.925rem;
    }
 
}
@media (min-width: 0px) and (max-width: 450px) {
    .hero{
        height: 22vh; 
    }

    .hero-title{
       font-size: 1.2rem;
    }
    
    /* most buttons style */
    .button-beige{
        padding: 0.5rem 1rem;
        font-size: 0.85;
        margin: 0.5rem 0;
    }

    /* headline and paragraphs */
    .headline{
       font-size: 0.9rem;
       margin: 0.25rem 0;
       line-height: 1.6rem;
    }
    .text{
        margin:0.5rem 0;
        font-size: 0.85rem;
    }
    .show-in-tablet{
        display: flex;
    }
    .hide-in-tablet{
        display: none;
    }
    
    /* page style */
    .page-container{
        width: 90vw;
        gap: 1rem;
        margin: 2rem 0;
    }
    .filters-container-box{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        justify-content: left;
        align-items: flex-start;
        z-index: 1000;
        overflow-y: scroll;
        height: 100vh; /* Full height of the viewport */
        overflow-y: auto; /* Enables vertical scrolling */
    }
 
    /* filter part style */
    .filters-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--background-color-body);
        padding: 12px;
        text-align: left;
        position: relative;
        width: 70vw;
    }

    .close-btn {
        position: absolute;
        top: 8px;
        right: 12px;
        background: none;
        border:0;
        font-size: 22px;
        cursor: pointer;
        color: var(--font-color-secondary);
      }
    .close-btn:hover{
        color: var(--font-color-primary);
    }
    
  
    
    input[type="checkbox"] {
        width: 16px;
        height: 16px;
      }

      label {
       font-size: 0.825rem;
      }
      .category-info{
        width: 57vw;
      }
    
      /* hr */
      .line{
        width: 100%;
        margin: 1rem 0;
        border-bottom: 0.25px solid #aaa;
      }
      /* filter section styles */
   
    .filter-button{
        font-size: 0.75rem;
    } 
    
      /*availability section style  */
    .reset-button{
        font-size: 0.8rem;
    }
    .text-container{
        width: 70vw;
    }
    
    /* price section style */
    
      .range-slider {
        height: 2.5px;
      }
      
      .range-slider input {
        height: 2.5px;
      }
      
      .range-slider input::-webkit-slider-thumb {
        width: 6px;
      }
     
      .subtitle{
        margin-top: 0.75rem;
        font-size: 0.7rem;
    }
     
      .dollar-container{
        width: 5vw;
        height: 4vw;
        font-size: 0.8rem;
      }
      .price-input {
        width: 16vw;
        height: 1.75rem;   
        padding-right: 7px; 
         font-size: 0.8rem;
      }
     
    /* products section style */
    .products-container{
        width: 100%;
    }
    .products-hero{
       height: 20vh; 
    }
    .display-sort-container{
        flex-direction: column;
        margin-top: 1rem;
        width: 100%;
    }
    .list-icon-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
   
    .filter-svg{
        color: var(--font-color-secondary);
        font-family: var(--font-custom-stack-paragraph);
        font-size: 0.85rem;
        font-style: normal;
        font-weight: 700;
    }
   
    .list-icon-container svg, .list-icon-container path{
        width: 0.85rem;
        height: 0.85rem;
    }
    .sort-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
   
    .sort-title{
         font-size: 0.85rem;
    }
    
    #dropdown {
        width: 13rem;
        font-size: 0.85rem;
      }
      
    /* display products style as grid */ 
      
    .grid-product-list{
        width: 100%;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .active{
        fill: var(--font-color-primary);
    }
    
    .dis-none{
        display: none;
    }
    .dis-block{
        display: block;
    }
    
    .item{
        width: 43vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--extra-color-body);
        position: relative;
        height: auto;
    }
    .item img{
        width: 100%;
        height:auto;
        object-fit: contain;
    }
    .item-name{
        margin:0.5rem 0 0 0;
        font-size: 0.875rem;
        text-align: center;
        font-weight: 600;
    }
    .item-price{
        margin:0rem 0 1rem 0;
        font-family: var(--font-custom-stack-paragraph);
        font-size: 0.875rem;
        font-weight: 600;

    }
    /* product actions styles */
    .product-actions{
        height: auto; 
        gap: 0rem;
    }
    .quick-wishlist-container{
        display: flex;
        width: 40vw;
        align-items: center;
        justify-content: center;
        gap: 0;
        margin-bottom: 1rem;
    }
    .quick-wishlist{
        width: 10vw;
        height: 10vw;
        background: var(--background-color-body);
    }
    .quick-wishlist svg, .quick-wishlist path{
        width: 0.85rem;
        height: 0.85rem;
        fill: var(--font-color-paragraph);
    }
    .right-border{
        border-right: 0;
    }
    .add-to-cart-button{
        width: 10vw;
        height: 10vw;
        background: var(--font-color-primary);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .add-to-cart-button svg{
        width: 0.85rem;
        height: 0.85rem;
        fill: var(--extra-color-body);
    }
    
    /* ul list style */
    
    .ul-product-list{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        flex-direction: column;
        gap: 2rem;
    }
    
    .item-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        width: 100%;
        gap: 1rem;
        background: var(--extra-color-body);
        position: relative;
    }
    
    .prod-img {
        width: 100%;
        height: 100%; /* Ensure this is set */
        display: flex; /* Helps in maintaining aspect ratio */
        align-items: center; 
        justify-content: center; 
        overflow: hidden; /* Prevents overflow issues */
    }
    
    .item-list img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures the image fills the container completely */
    }
    
    .product-content{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .description{
        font-size: 0.85rem;
        text-align: center;
    }
    .price-ul{
        margin:0 0 0 0;
        font-size: 0.85rem;
    }
    .product-actions-ul{
        margin-top: 0.5rem;
    }
    
    .quick-wishlist-ul{
        width: 10vw;
        height: 10vw;
    }
    .quick-wishlist-ul svg, .quick-wishlist-ul path{
        width: 0.85rem;
        height: 0.85rem;
    }
 
}