section{
    margin: 0 0;
}
.hero{
    display: flex;
    align-items: center; /* Centers items vertically */
    height: 70vh; 
    width: 100%;
    /* height: 30rem; */
    background: url('https://old-souqs.sirv.com/Banners/DSC00272.jpg') lightgray 50% / cover no-repeat;
}
.hero-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 4rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.hero-container span{
    color: var(--font-color-primary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
}
.hero-title{
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

/* most buttons style */
.button-beige{
    background-color: var(--font-color-primary);
    border: 0px;
    padding: 0.75rem 1.25rem;
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    margin: 2rem 0;
    border: 2px solid transparent;
    cursor: pointer;
}

.button-beige:hover{
    background-color: transparent;
    color: var(--font-color-primary);
    border: 2px solid var(--font-color-primary);
}

.button-black{
    background-color: var(--font-color-body);
    border: 0px;
    padding: 0.75rem 1.25rem;
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    margin: 2rem 0;
    border: 2px solid transparent;
    cursor: pointer;
}

.button-black:hover{
    background-color: transparent;
    color: var(--font-color-body);
    border: 2px solid var(--font-color-body);
}

.content{
    padding: 3rem 0;
    display: grid;
    place-items: center;
}


/* about us style */

.about-container{
    width: 68rem;
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 1rem 0rem;
    margin: 2rem 0;

}
.about-img{
    position: relative;
    width: 20rem;
    height: 28rem;
}
.about-img img{
    width: 100%;
    height: 29rem;
     /* width: 20rem; */
    /* height: auto; */
    object-fit: contain; 
}


.about-info{
    width: 23rem;
}
.title{
    color: var(--font-color-primary);
    margin:1rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;

}
.headline{
    color: var(--font-color-secondary);
    margin-bottom: 3rem;
    margin:1rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.25rem;
    letter-spacing: -0.045rem;
}

.marcellus-font{
    font-family: var(--font-custom-stack-other);
    font-weight: 400;
    margin-top: -1rem;
    margin-bottom: 2rem;
}
.text{
    color: var(--font-color-paragraph);
    margin:1rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
}
.about-years{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.year-container{
    width: 12rem;
    background-color: var(--extra-color-body);
    padding: 1.75rem 1.75rem;
}
.year-container h5{
    color: var(--font-color-secondary);
    font-weight: 700;
    font-size: 1.125rem;
    margin: 0;
}
.year-container p{
    width: 11rem;
}
.button-underlined{
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid var(--font-color-primary);
    color: var(--font-color-primary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
    transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-underlined:hover{
    color: var(--font-color-secondary);
    border-bottom: 2px solid var(--font-color-secondary);
}

/* collection style */
.collection-article{
    width: 100%;
    height:auto;
    background: var(--extra-color-body);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:2rem ;
    padding-top: 1rem;
}
.collection{
    width: 77rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.collection-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 70rem;
    margin-bottom: 1.5rem;
}


.tabs{
    display: flex;
    gap: 1.5rem;
}
 .tabs-button {
    position: relative;
    background: none;
    border: none;
    color: var(--font-color-secondary);
    font-size: 1rem;
    cursor: pointer;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out;
  }
  
  .tabs-button::after {
    content: "";
    position: absolute;
    left: 100%;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--font-color-primary);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  } 
   .tabs-button.active {
    color: var(--font-color-primary) 
  }
  
  .tabs-button.active::after {
    width: 100%;
    left: 0;
  } 
  
.collection-items{

    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;

}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 17rem;
    background: var(--background-color-body);
    position: relative;
}
.item img{
    width: 100%;
    height:auto;
}
.item-name{
    color: var(--font-color-secondary);
    margin:1rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.8rem;
}
.item-name:hover{
    color: var(--font-color-primary);
    cursor: pointer;
}
.item-price{
    color: var(--font-color-primary);
    margin:-1rem 0 2rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
}

/* product actions styles */
.product-actions{
    /* same as height of item class */
    height: 17rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.quick-wishlist-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.quick-wishlist{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 3rem;
    background: var(--extra-color-body);
    cursor: pointer;
}
.quick-wishlist svg, .quick-wishlist path{
    width: 1rem;
    height: 1rem;
}

.quick-wishlist:hover{
    background: var(--font-color-primary);
}
.quick-wishlist:hover svg, .quick-wishlist:hover path{
    fill: var(--extra-color-body); /* Default color */
}
.right-border{
    border-right: 1px solid #ddd;
}
.add-to-cart-button{
    width: 10rem;
    background: var(--font-color-primary);
    text-align: center;
    font-family: var(--font-custom-stack-paragraph);
    color: var(--extra-color-body);
    cursor: pointer;
}
.add-to-cart-button:hover{
    background-color: var(--font-color-secondary);
}

.dis-none{
    display: none;
}
.dis-block{
    display: block;
}

/* explore our collection article style */
.explore-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--background-color-body);
}
.explore-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh; 
    width: 100%;
    background: url('https://old-souqs.sirv.com/Banners/DSC00283.jpg') rgb(22, 22, 22) 5% / cover no-repeat;
}
.back{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.explore-hero span{
    color: var(--font-color-primary);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
}
.explore-title{
    color: var(--extra-color-body);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}
/* explore content styles */
.explore-content-container{
    width: 70rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
}

.explore-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.explore-img{
    width: 18vw;
    height: auto;
    /* background: url(../../assets/painting.jpg) lightgray 50% / cover no-repeat; */

}
.explore-img img{
    width: 100%;
    object-fit:fill;
}

.explore-info{
    width: 14rem;
}
/* custom section */
.custom-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
}
.engaging-sentence{
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
}
.engaging-sentence a{
    cursor: pointer;
    color: var(--font-color-primary);
    text-decoration: none;
}

.customized-carousel-container {
    width: 90vw;
    margin: auto;
    overflow: hidden;
    position: relative;
    margin: 1rem 0;
}
.customized-carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.customized-item {
    /* min-width: 48.5%; */
    /* min-width: 31.5%;*/ /* to show 3 items */
    min-width: 23.5%;
    box-sizing: border-box; 
    background: var(--extra-color-body);
    margin: 10px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    padding: 0;
}

.customized-item-img{
    width: 100%;
    height: auto;
}
.customized-item-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.item-description{
    width: auto;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-weight: 400;
    font-style: normal; 
    color: var(--font-color-paragraph);
}
/* .customized-item-info{
    width: 45%;
} */

/* dots style */
.customized-dots {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.customized-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}
.customized-dot-tablet {
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}
.customized-dot-collection {
    /* for collection section in tablet */
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}
 .customized-active-dot {
    background-color: #a77b4d;
}


/* deals of the day style */

.deals-of-the-day-container{
    width: 100%;
    background: var(--extra-color-body);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}


.deals-carousel-container {
    width: 90vw;
    margin: auto;
    overflow: hidden;
    position: relative;
    margin: 1rem 0;
}
.deals-carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.deals-item {
    min-width: 48.5%;
    /* min-width: 31.5%; */ /* to show 3 items*/
    box-sizing: border-box; 
    background: var(--background-color-body);
    margin: 10px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}

.deals-item-img{
    width: 16rem;
    height: 16rem;
}
.deals-item-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* dots style */
.dots {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}
.dot-collection {
    /* for collection section in tablet */
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}
 .active-dot {
    background-color: #a77b4d;
}

/* happy quotes styles */

.happy-quotes{
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}

.happy-quotes.container{
   width: 65rem;
   gap: 2rem;
}

.comment-and-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

/* rounded button */
.button-round{
    border: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: var(--extra-color-body);
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-round svg{
    width: 1rem;
    height: 1rem;
    fill: var(--font-color-primary);
}

.button-round:hover{
    background: var(--font-color-primary);
}
.button-round:hover svg{
    fill: var(--extra-color-body);
}

.comment-content{
    width: 35rem;
    text-align: center;
}
.long-comment{
    width: 35rem;
}

.stars{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.stars svg{
    width: 1.2rem;
    height: 1.2rem;
    fill: var(--font-color-primary);
}

.cutomer-name{
    font-size: 1rem;
    color: var(--font-color-primary);
    font-family: var(--font-custom-stack-other);
    font-weight: 700;
}

/* email subscription styles */

.subscribe-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .subscribe-box {
    background: var(--extra-color-body);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    width: 20rem;
  }
  .subscribe-content svg {
    margin-bottom: 10px;
  }
  .email-input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: var(--font-color-paragraph);
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }
  .subscribe-btn {
    margin: 1rem 0;
    border-radius: 5px;    
  }
  .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border:0;
    font-size: 22px;
    cursor: pointer;
    color: var(--font-color-secondary);
  }
  .close-btn:hover{
    color: var(--font-color-primary);
  }
  .subscribe-title{
    color: var(--font-color-secondary);
    margin-bottom: 3rem;
    margin:1rem 0;
    font-family: var(--font-custom-stack-paragraph);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.25rem;
    letter-spacing: -0.045rem; 
  }
  .hide-in-tablet{
    display: flex;
  }
  .show-in-tablet{
    display: none;
  }
  @media (min-width: 826px) and (max-width: 1024px) {

    /* about us style */
    
    .about-container{
        width: 95vw;
    }

    /* collection style */
    .collection-article{
        width: 100vw;
        height:auto;
    }
    .collection{
        width: 93vw;
        height: auto;
    }
    .collection-header{
        width: 93vw;
    }    
    
    .item{
        width: 21vw;
    }
    .item img{
        height:24vw;
    }
   
    /* product actions styles */
    .product-actions{
        /* same as height of item class */
        height: 24vw; 
    }
    
    .quick-wishlist{
        width: 4rem;
    }

    .add-to-cart-button{
        width: 8rem;
    }
    /* explore our collection article style */
    .explore-hero{
        height: 50vh; 
    }
    .explore-img{
        width: 20vw;
        height: auto;
    }
    .name-aligned .headline{
        font-size: 2rem ;
    }

    /* explore content styles */
    .explore-content-container{
        width: 93vw;
    }  
    
/* deals of the day style */

    .deals-item-img{
        width: 22vw;
        height: 22vw;
    }
    .deals-item-img img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .button-beige{       
        margin: 1rem 0;
    }
}

@media (min-width: 451px) and (max-width: 825px) {
  
    .hero{
        height: 60vh; 
    }
    .hero-container{
        padding-left: 2rem;
    }
    .hero-container span{
        font-size: 1.05rem;
    }
    .hero-title{
        font-size: 3.1rem;
    }
    /* most buttons style */
    .button-beige{
        font-size: 0.925rem;
        margin: 0rem 0;
        padding: 0.5rem 1.25rem;
    }

    .button-black{
        font-size: 0.925rem;
        margin: 0rem 0;
        padding: 0.5rem 1.25rem;
    }

    .content{
        padding: 0rem 0;
    }
    
    /* about us style */
    .about-container{
        width: 90vw;
        height: auto;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 1rem 0rem;
        margin: 2rem 0;
    
    }
    .about-img{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 42vw;
        /* height: 42; */
    }
    .about-img img{
         width: auto;
        height:57vw ; 
    } 
    .about-info{
        width: 40vw;
    }
    .title{
        margin:0.25rem 0;
        font-size: 0.925rem;
    }
    .headline{
        margin:0.25rem 0;
        font-size: 1.8rem;
    }  
    .text{
        margin:0.75rem 0;
        font-size: 0.925rem;
    }
    .about-years{
        flex-direction: row;
        align-items: center;
        justify-content:center;
        gap: 4.25rem;
    }
    .year-container{
        width: 38%;
    }
    .year-container h5{
        font-size: 1rem;
    }
    .year-container p{
        width: 95%;
    }
    /* underlined button */
    .button-underlined{
        font-size: 0.9rem;
    }
    /* collection style */
    .collection-article{
        padding-bottom:1rem ;
        padding-top: 1rem;
    }
    .collection{
        width: 90vw;
        height: auto;
    }
    .collection-header{
       flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: auto;
    }
     
    .tabs{
        display: flex;
        gap: 1.5rem;
    }
     .tabs-button {
        font-size: 0.925rem;
    }
   
    /* product actions styles */
    .dis-none{
        display: none;
    }
    .dis-block{
        display: block;
    }
    
    /* explore our collection article style */
   
    .explore-hero{
        height: 15rem ;
    }
    .explore-hero span{
        font-size: 1rem;
    }
    .explore-title{
        font-size: 2.25rem;
        margin: 1rem 0;
    }
    /* explore content styles */
    .explore-content-container{
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5rem 0;
        gap: 2rem;
    }
    .explore-img{
        width: 40vw;
        height: auto;
    
    }
    .explore-info{
        width:42vw;
    }
    .explore-info p{
        max-width: 35vw;
    }
    .name-aligned{
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 0.5rem;
    }
    .name-aligned p{
        font-size: 1.6rem;
    }
    /* custom section */
    .custom-container{
        margin: 2rem 0;
    }
    .engaging-sentence{
        width: 90vw;
        text-align: center;
        font-size: 0.95rem;
    }
    .customized-item {
        min-width: 47%;
        /* min-width: 31.5%;*/ /* to show 3 items */
        padding-bottom: 1rem;
    }
    
    
    /* deals of the day style */
    .deals-of-the-day-container{
        padding: 2rem 0;

    }
    .hide-in-tablet{
        display: none;
      }
      .show-in-tablet{
        display: flex;
      }
      .collection-items-container{
        margin: auto;
        overflow: hidden;
        position: relative;
        margin: 1rem 0;
      }
      .collection-items{
        width: 88vw;
        display: flex;
        align-items: flex-start;
        justify-content: left;
        transition: transform 0.5s ease-in-out;

    }
    .item{
        min-width: 43%;
        /* min-width: 31.5%; */ /* to show 3 items*/
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box; 
        background: var(--background-color-body);
        margin: 10px 1vw;
        font-size: 1.5em;
        display: flex;
        gap: 1rem;
    }
    .item img{
        width: 100%;
        height:35vw;
    }
    .item-name{
        margin:0rem 0;
        font-size: 0.85rem;
        font-weight: 700;
    }
    .item-price{
        margin:-1rem 0 -0.5rem 0;
        font-family: var(--font-custom-stack-paragraph);
        font-size: 0.85rem;
        font-weight: 700;
    }
    /* product actions styles */
    .product-actions{
        height: auto; 
        gap: 0rem;
    }
    .quick-wishlist-container{
        display: flex;
        width: 28vw;
        align-items: center;
        justify-content: center;
        gap: 0;
        margin-bottom: 2rem;
    }
    .quick-wishlist{
        width: 6vw;
        height: 6vw;
    }
    .quick-wishlist svg, .quick-wishlist path{
        width: 0.75rem;
        height: 0.75rem;
    }
    .right-border{
        border-right: 0;
    }
    .add-to-cart-button{
        width: 6vw;
        height: 6vw;
        background: var(--font-color-primary);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .add-to-cart-button svg{
        width: 0.8rem;
        height: 0.8rem;
        fill: var(--extra-color-body);
    }
    .add-to-cart-button:hover{
        background-color: var(--font-color-secondary);
    }
   
    /* email subscription styles */
    
      .email-input {
        font-size: 0.925rem;
      }   
      .subscribe-title{
        font-size: 1.25rem;
      }
      .subscribe-box {
        background: var(--extra-color-body);
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        position: relative;
        width: 20rem;
      }
    
}

@media (min-width: 0px) and (max-width: 450px) {
    .hero{
        height: 30vh;
    }
   .hero-container {
        padding-left: 1rem;
    }
    .hero-container span{
        font-size: 1.05rem;
    }
    .hero-title{
        font-size: 1.6rem;
        margin: 0 0  0.25rem 0;
    }
    /* most buttons style */
    .button-beige{
        font-size: 0.875rem;
        margin: 0.25rem 0;
        padding: 0.5rem 1rem;
    }

    .button-black{
        font-size: 0.8rem;
        margin: 0.25rem 0;
        padding: 0.5rem 1rem;
    }

    .content{
        padding: 0rem 0;
    }
    
    /* about us style */
    .about-container{
        width: 95vw;
        height: auto; 
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem 0rem;
        margin: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .name-aligned-mobile{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
        gap: 0.2rem;
    }
    .about-img{
        position: relative;
        width: 45%;
        height: auto;
        /* display: flex; */
        display: none;
        align-items: center;
        justify-content: center;
    }
    .about-img img{
        /* border: 1px solid black; */
         width: 100%;
        height: auto; 
    } 
    .about-info{
        width: 95%;
    }
    .title{
        margin:0.25rem 0;
        font-size: 0.85rem;
    }
    .headline{
        margin:0.25rem 0;
        font-size: 1.55rem;
    }  
    .text{
        margin:0.75rem 0;
        font-size: 0.85rem;
        line-height: 1.5rem;
    }
    .about-years{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 90vw;

    }
    .year-container{
        width: 93%;
        padding-right: 0rem;
    }
    .year-container h5{
        font-size: 1rem;
    }
    .year-container p{
        width: 90%;
    }
    /* underlined button */
    .button-underlined{
        font-size: 0.9rem;
    }
    /* collection style */
    .collection-article{
        padding-bottom:1rem ;
        padding-top: 1rem;
        height: auto;
    }
    .collection{
        width: 90vw;
        height: auto;
    }
    .collection-header{
       flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: auto;
    }
     
    .tabs{
        display: flex;
        gap: 1.5rem;
    }
     .tabs-button {
        font-size: 0.8rem;
    }
 
    
    /* explore our collection article style */
   .explore-hero{
    height: 35vh;
   }
    .explore-hero span{
        font-size: 0.95rem;
    }
    .explore-title{
        font-size: 1.6rem;
        margin: 1rem 0;
    }
    /* explore content styles */
    .explore-content-container{
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
        gap: 2rem;
    }
    .explore-item{
        flex-direction: column;
    }
    .explore-img{
        width: 90vw;
        height: auto;    
    }
    .explore-img img{
        width: 100%;
        object-fit:fill;
    }
    .explore-info{
        width:90vw;
    }
    .explore-info p{
        max-width: 90vw;
    }
    .name-aligned{
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 0.25rem;
    }
    .name-aligned p{
        font-size: 1.3rem;
    }
 /* custom section */
 
.engaging-sentence{
    width: 90vw;
    text-align: center;
    font-size: 0.85rem;
}
.customized-item {
    min-width: 47%;
    /* min-width: 31.5%;*/ /* to show 3 items */
    padding-bottom: 1rem;
    margin: 5px;
}
    
    
    /* deals of the day style */
    .hide-in-tablet{
        display: none;
      }
      .show-in-tablet{
        display: flex;
      }
      .deals-of-the-day-container{
        padding: 1.5rem 0;
    }
    
      .collection-items-container{
        margin: auto;
        overflow: hidden;
        position: relative;
        margin: 0.5rem 0;
      }
      .collection-items{
        width: 90vw;
        display: flex;
        align-items: flex-start;
        justify-content: left;
        transition: transform 0.5s ease-in-out;
        gap: 0.6rem;

    }
    .item{
        min-width: 48%;
        /* min-width: 31.5%; */ /* to show 3 items*/
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box; 
        background: var(--background-color-body);
        margin: 8px 0px;
        display: flex;
        gap: 0.5rem;
    }
    .item img{
        width: 100%;
        height:auto;
    }
    .item-name{
        margin:0rem 0;
        font-size: 0.8rem;
        font-weight: 700;
        width: 90%;
        text-align: center;
    }
    .item-price{
        margin:-0.5rem 0 -0.5rem 0;
        font-family: var(--font-custom-stack-paragraph);
        font-size: 0.8rem;
        font-weight: 700;
    }
    /* product actions styles */
    .product-actions{
        height: auto; 
        gap: 0rem;
    }
    .quick-wishlist-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0;

        margin:1rem 0;
    }
    .quick-wishlist{
        width: 10vw;
        height: 10vw;
    }
    .quick-wishlist svg, .quick-wishlist path{
        width: 0.825rem;
        height: 0.825rem;
    }
    .right-border{
        border-right: 0;
    }
    .add-to-cart-button{
        width: 10vw;
        height: 10vw;
        background: var(--font-color-primary);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .add-to-cart-button svg{
        width: 0.9rem;
        height: 0.9rem;
        fill: var(--extra-color-body);
    }
    .add-to-cart-button:hover{
        background-color: var(--font-color-secondary);
    }
   
   
    /* email subscription styles */
    
      .email-input {
        font-size: 0.8rem;
      }   
      .subscribe-title{
        font-size: 1rem;
      }
      .subscribe-box {
        background: var(--extra-color-body);
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        position: relative;
        width: 70vw;
      }
}