.footer {
    background-color: var(--extra-color-body);
    padding: 40px 30px;
    text-align: center;
    display: flex;
    font-family: var(--font-custom-stack-paragraph);
    margin: 0 7%;
}

.company-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 30%;
}

.logo img {
    height: 80px;
    margin-bottom: 10px;
}

.footer-info p {
    color: #333;
    font-size: 16px;
    text-align: left;
}

.quick-links, .company-info {
    width: 30%;
    text-align: left;
    margin-left: 2%;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu-item a {
    text-decoration: none;
    color: var(--font-color-secondary);
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.menu-item a:hover {
    color: var(--font-color-primary);
}

.copyright {
    font-family: var(--font-custom-stack-paragraph);
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #777;
}
.footer-links{
    display: flex;
    width: 60%;
    align-items: center;
    /* padding: 0 4rem; */
    justify-content:space-around;
}
.show-in-mobile{
    display: none;
}
.hide-in-mobile{
    display: flex;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--font-color-primary);
    color: white;
    border: none;
    padding: 10px 12px;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
  }
  .back-to-top svg{
    fill: var(--extra-color-body);
    width: 1rem;
    height: 1rem;
  }
  .back-to-top:hover {
    background: var(--font-color-secondary);
  }
  
  .back-to-top:active {
    transform: scale(0.95);
  }
  

@media (min-width: 451px) and (max-width: 768px) {
    .footer {
        flex-direction: column;
        margin: 0 6%;
    }
    
    .company-description {
        width: 90%;
    }
    
    .logo img {
        height: 60px;
    }
    
    .footer-info p {
        font-size: 0.925rem;
    }
    .footer-links{
        width: 90%;
        align-items: flex-start;
        justify-content:space-between;
    }
    
    .quick-links, .company-info {
        width: 45%;
    }
    
    h3 {
        font-size: 1rem;
   }
 
    .menu-item a {
        font-size: 0.925rem;
     }

    .copyright {
        font-size: 12px;
    }
    .back-to-top {
        bottom: 15px;
        right: 15px;
        padding: 10px 12px;
      }
      .back-to-top svg{
        width: 0.925rem;
        height: 0.925rem;
      }
}

@media (min-width: 0px) and (max-width: 450px) {
    .footer {
        flex-direction: column;
        margin: 0 6%;
        padding: 30px 20px;
    }
    
    .company-description {
        width: 100%;
        margin-bottom: 2rem;
    }
    
    .logo img {
        height: 50px;
    }
    
    .footer-info p {
        font-size: 0.85rem;
    }
    .show-in-mobile{
        display: flex;
    }
    .hide-in-mobile{
        display: none;
    }
    .line{
        width: 100%;
        margin: -0.5rem 0;
        border-bottom: 0.2px solid var(--font-color-paragraph);
    }
  
    .footer-links{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content:space-between;
    }
    
    .quick-links, .company-info {
        width: 95%;
    }
    .menu {
        list-style: none;
        padding: 0;
        margin: 0 0 1rem 0;
    }
    .menu-title-container{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    
    h3 {
        font-size: 0.9rem;
   }
 
    .menu-item a {
        font-size: 0.85rem;
     }

    .copyright {
        font-size: 12px;
    }
    .back-to-top {
        bottom: 36px;
        right: 15px;
        padding: 10px 12px;
      }
      .back-to-top svg{
        width: 0.85rem;
        height: 0.85rem;
      }
}