.footer {
    position: relative;
    background-color: var(--extra-color-body);
    padding: 40px 30px;
    text-align: center;
    display: flex;
    font-family: var(--font-custom-stack-paragraph);
    margin: 0 7%;
}

.company-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 30%;
}

.logo img {
    height: 80px;
    margin-bottom: 10px;
}

.footer-info p {
    color: #333;
    font-size: 16px;
    text-align: left;
}

.quick-links, .company-info {
    width: 30%;
    text-align: left;
    margin-left: 2%;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu-item a {
    text-decoration: none;
    color: var(--font-color-secondary);
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.menu-item a:hover {
    color: var(--font-color-primary);
}

.copyright {
    font-family: var(--font-custom-stack-paragraph);
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #777;
}
.footer-links{
    display: flex;
    width: 60%;
    align-items: center;
    /* padding: 0 4rem; */
    justify-content:space-around;
}
.show-in-mobile{
    display: none;
}
.hide-in-mobile{
    display: flex;
}
.back-to-top-whatsapp{
position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.back-to-top {
    background: var(--font-color-primary);
    color: white;
    border: none;
    padding: 10px 12px;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
  }
  .back-to-top svg{
    fill: var(--extra-color-body);
    width: 1rem;
    height: 1rem;
  }
  .back-to-top:hover {
    background: var(--font-color-secondary);
  }
  
  .back-to-top:active {
    transform: scale(0.95);
  }
  .whatsapp-icon{
    width: 2rem;
    height: 2rem;
    /* animation: pulse 1s infinite ease-in-out; */
    transition: transform 0.3s;  
  }
  .whatsapp-icon img{
    width: 2rem;
    height: 2rem;
  }
 @keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


/* The switch - the box around the slider */
.language-switch{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    top: 1.25rem;
    right:1.25rem;
}
.language-switch span{
    font-family: var(--font-custom-stack-paragraph);
    font-size: 0.9rem;
    font-weight: 400;
    font-style: normal;
}
.switch {
    margin: 0 0.25rem;
    font-size: 14px;
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 1.3em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: var(--font-color-primary);
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.3em;
    width: 1.3em;
    inset: 0;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .switch input:checked + .slider {
    background: var(--font-color-primary);
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px var(--font-color-primary);
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(1.2em);
  }
  .social-media-container{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;
  }
  .social-media-container svg, .social-media-container path{
    cursor: pointer;
    width: 1.4rem;
    height: 1.4rem;
    fill: var(--font-color-secondary);
  }

@media (min-width: 451px) and (max-width: 768px) {
    .footer {
        flex-direction: column;
        margin: 0 6%;
    }
    
    .company-description {
        width: 90%;
    }
    
    .logo img {
        height: 70px;
    }
    
    .footer-info p {
        font-size: 0.925rem;
    }
    .footer-links{
        width: 90%;
        align-items: flex-start;
        justify-content:space-between;
    }
    
    .quick-links, .company-info {
        width: 45%;
    }
    
    h3 {
        font-size: 1rem;
   }
 
    .menu-item a {
        font-size: 0.925rem;
     }

    .copyright {
        font-size: 12px;
    }
    .back-to-top {
        bottom: 15px;
        right: 15px;
        padding: 10px 12px;
      }
      .back-to-top svg{
        width: 0.925rem;
        height: 0.925rem;
      }

    .language-switch span{
        font-size: 0.85rem;
    }
    .switch {
        margin: 0 0.25rem;
        font-size: 12px;
        width: 2.5em;
        height: 1.3em;
      }

      .slider:before {
        height: 1.3em;
        width: 1.3em;
      }
    
      .switch input:checked + .slider:before {
        transform: translateX(1.2em);
      }
       .social-media-container svg, .social-media-container path{
    width: 1.3rem;
    height: 1.3rem;
  }

}

@media (min-width: 0px) and (max-width: 450px) {
    .footer {
        flex-direction: column;
        margin: 0 6%;
        padding: 30px 20px;
    }
    
    .company-description {
        width: 100%;
        margin-bottom: 2rem;
    }
    
    .logo img {
        height: 65px;
    }
    
    .footer-info p {
        font-size: 0.85rem;
    }
    .show-in-mobile{
        display: flex;
    }
    .hide-in-mobile{
        display: none;
    }
    .line{
        width: 100%;
        margin: -0.5rem 0;
        border-bottom: 0.2px solid var(--font-color-paragraph);
    }
  
    .footer-links{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content:space-between;
    }
    
    .quick-links, .company-info {
        width: 95%;
    }
    .menu {
        list-style: none;
        padding: 0;
        margin: 0 0 1rem 0;
    }
    .menu-title-container{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    
    h3 {
        font-size: 0.9rem;
   }
 
    .menu-item a {
        font-size: 0.85rem;
     }

    .copyright {
        font-size: 12px;
    }
    .back-to-top {
        bottom: 36px;
        right: 15px;
        padding: 10px 12px;
      }
      .back-to-top svg{
        width: 0.85rem;
        height: 0.85rem;
      }
      .language-switch span{
        font-size: 0.8rem;
    }
    .switch {
        margin: 0 0.25rem;
        font-size: 12px;
        width: 2.5em;
        height: 1.3em;
      }

      .slider:before {
        height: 1.3em;
        width: 1.3em;
      }
    
      .switch input:checked + .slider:before {
        transform: translateX(1em);
      }
       .social-media-container svg, .social-media-container path{
    width: 1.2rem;
    height: 1.2rem;
  }


}