<div class="footer">
    <div class="company-description">
        <div class="logo">
            <img src="https://old-souqs.sirv.com/Essential/logo%20old%20souq%203%20colors-1.png" />
        </div>
        <div class="footer-info">
            <p>{{ 'FOOTER.INFO' | translate }}</p>
        </div>
    </div>
    <div class="quick-links">
        <h3>Quick Actions</h3>
        <ul class="menu">
            <li class="menu-item"><a routerLink="/home">{{ 'FOOTER.HOME' | translate }}</a></li>
            <li class="menu-item"><a routerLink="/shop">{{ 'FOOTER.SHOP' | translate }}</a></li>
            <li class="menu-item"><a routerLink="/contact">{{ 'FOOTER.CONTACT' | translate }}</a></li>
        </ul>
    </div>
    <div class="company-info">
        <h3>Company Info</h3>
        <ul class="menu">
            <li class="menu-item"><a routerLink="/about">{{ 'FOOTER.ABOUT' | translate }}</a></li>
            <li class="menu-item"><a routerLink="/privacy-policy">{{ 'FOOTER.PRIVACY' | translate }}</a></li>
            <li class="menu-item"><a routerLink="/terms-conditions">{{ 'FOOTER.TERMS' | translate }}</a></li>
        </ul>
    </div>
</div>  
<div class="copyright">
    <span>{{ 'FOOTER.COPYRIGHT' | translate}}</span>
</div>